In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import string 
import emoji
import re

# Preprocessing

In [2]:
df = pd.read_csv("sample_df (4).zip")
df

,text,target,Word Count
0,NEW DELHI: The Andhra Pradesh Public Service C...,academic interests,239
1,PUNE: Two weeks after the new academic year ha...,academic interests,500
2,GUWAHATI: The results of the CBSE Class X exam...,academic interests,470
3,"admission into the IIMs,"" said Kapoor. Across ...",academic interests,108
4,Mangaluru: The Mangalore Institute of Technolo...,academic interests,336
...,...,...,...
519995,NAGPUR: Akshay Zadgaonkar is a child prodigy. ...,video gaming,500
519996,\nBayonetta lead Hideki Kamiya reckons the lat...,video gaming,290
519997,\nAl Pacino thinks the original Godfather is b...,video gaming,259
519998,The latest episode of Imlie begins with Aryan ...,video gaming,251
519999,While the entire world is under lockdown in va...,video gaming,238

In [3]:
print(len(pd.unique(df.target)))

26

# Lowercase the dataset

In [4]:
df.text = df.text.str.lower()
df.text = df.text.astype(str)
df.dtypes

text          object
target        object
Word Count     int64
dtype: object

In [5]:
df

,text,target,Word Count
0,new delhi: the andhra pradesh public service c...,academic interests,239
1,pune: two weeks after the new academic year ha...,academic interests,500
2,guwahati: the results of the cbse class x exam...,academic interests,470
3,"admission into the iims,"" said kapoor. across ...",academic interests,108
4,mangaluru: the mangalore institute of technolo...,academic interests,336
...,...,...,...
519995,nagpur: akshay zadgaonkar is a child prodigy. ...,video gaming,500
519996,\nbayonetta lead hideki kamiya reckons the lat...,video gaming,290
519997,\nal pacino thinks the original godfather is b...,video gaming,259
519998,the latest episode of imlie begins with aryan ...,video gaming,251
519999,while the entire world is under lockdown in va...,video gaming,238

In [6]:
df["text"].iloc[0]

'new delhi: the andhra pradesh public service commission (appsc) has released appsc group 2 notification on its official website on december 31, 2018. as per the notification, there are 446 vacancies to be filled through the examination. interested and eligible candidates can apply for the appsc group 2 vacancies from january 10, 2019 to january 31, 2019 through the official website — https://psc.ap.gov.in/. the ap psc will conduct screening/preliminary test on may 5, 2019 while the main exam for the successful candidates would be conducted on july 18 and 19, 2019. appsc group 2: important dates    event date   opening date of application 1-jan-19   closing date of application 31-jan-19 appsc group 2: vacancy details    type carried forward   executive posts 16   non–executive posts 94   type fresh posts   executive posts 138   non–executive posts 198   total 446 educational qualificationgraduation degree in any discipline from a recognized university or institute. age limit (as on july 1, 2018) minimum: 18 yearsmaximum: 42 years feesapplication fees rs 250 + examination fees rs 80 no examination fees for the candidates belonging to the reserved categories like sc, st, bc, ph & ex-servicemen etc. appsc is conducting this recruitment drive to fill in 446 vacancies in group 2 category. group 2 posts includes asst. commercial tax officer in a.p. commercial taxes sub-ordinate service, deputy tahsildar in a.p. revenue subordinate service, senior auditor in a.p. state audit subordinate service, municipal commissioner grade-iii in a.p. municipal commissioner subordinate service etc. '

# Removing Punctuations

In [7]:
import string
import pandas as pd

def remove_punct(text):
    if isinstance(text, str):
        # Create a translation table that removes all punctuation except for full stops
        translation_table = str.maketrans("", "", string.punctuation.replace(".", ""))
        return text.translate(translation_table)
    elif pd.notna(text):
        return str(text)
    else:
        return text

# Apply the function to the 'text' column in your DataFrame
df['text'] = df['text'].apply(remove_punct)

# Now, full stops will be preserved in the text

In [8]:
df["text"].iloc[0]

'new delhi the andhra pradesh public service commission appsc has released appsc group 2 notification on its official website on december 31 2018. as per the notification there are 446 vacancies to be filled through the examination. interested and eligible candidates can apply for the appsc group 2 vacancies from january 10 2019 to january 31 2019 through the official website — httpspsc.ap.gov.in. the ap psc will conduct screeningpreliminary test on may 5 2019 while the main exam for the successful candidates would be conducted on july 18 and 19 2019. appsc group 2 important dates    event date   opening date of application 1jan19   closing date of application 31jan19 appsc group 2 vacancy details    type carried forward   executive posts 16   non–executive posts 94   type fresh posts   executive posts 138   non–executive posts 198   total 446 educational qualificationgraduation degree in any discipline from a recognized university or institute. age limit as on july 1 2018 minimum 18 yearsmaximum 42 years feesapplication fees rs 250  examination fees rs 80 no examination fees for the candidates belonging to the reserved categories like sc st bc ph  exservicemen etc. appsc is conducting this recruitment drive to fill in 446 vacancies in group 2 category. group 2 posts includes asst. commercial tax officer in a.p. commercial taxes subordinate service deputy tahsildar in a.p. revenue subordinate service senior auditor in a.p. state audit subordinate service municipal commissioner gradeiii in a.p. municipal commissioner subordinate service etc. '

# Removing URLs and Emojis

In [9]:
def removeURLandEmoji(text):
    text = re.sub(r"http\S+|www\S+|https\S+", "", text, flags=re.MULTILINE)
    text = emoji.demojize(text)
    text = re.sub(r":[^:]+:", "", text)
    
    return text
    
df.text = df.text.apply(removeURLandEmoji)
df

,text,target,Word Count
0,new delhi the andhra pradesh public service co...,academic interests,239
1,pune two weeks after the new academic year has...,academic interests,500
2,guwahati the results of the cbse class x exams...,academic interests,470
3,admission into the iims said kapoor. across 13...,academic interests,108
4,mangaluru the mangalore institute of technolog...,academic interests,336
...,...,...,...
519995,nagpur akshay zadgaonkar is a child prodigy. h...,video gaming,500
519996,\nbayonetta lead hideki kamiya reckons the lat...,video gaming,290
519997,\nal pacino thinks the original godfather is b...,video gaming,259
519998,the latest episode of imlie begins with aryan ...,video gaming,251
519999,while the entire world is under lockdown in va...,video gaming,238

In [10]:
df["text"].iloc[0]

'new delhi the andhra pradesh public service commission appsc has released appsc group 2 notification on its official website on december 31 2018. as per the notification there are 446 vacancies to be filled through the examination. interested and eligible candidates can apply for the appsc group 2 vacancies from january 10 2019 to january 31 2019 through the official website —  the ap psc will conduct screeningpreliminary test on may 5 2019 while the main exam for the successful candidates would be conducted on july 18 and 19 2019. appsc group 2 important dates    event date   opening date of application 1jan19   closing date of application 31jan19 appsc group 2 vacancy details    type carried forward   executive posts 16   non–executive posts 94   type fresh posts   executive posts 138   non–executive posts 198   total 446 educational qualificationgraduation degree in any discipline from a recognized university or institute. age limit as on july 1 2018 minimum 18 yearsmaximum 42 years feesapplication fees rs 250  examination fees rs 80 no examination fees for the candidates belonging to the reserved categories like sc st bc ph  exservicemen etc. appsc is conducting this recruitment drive to fill in 446 vacancies in group 2 category. group 2 posts includes asst. commercial tax officer in a.p. commercial taxes subordinate service deputy tahsildar in a.p. revenue subordinate service senior auditor in a.p. state audit subordinate service municipal commissioner gradeiii in a.p. municipal commissioner subordinate service etc. '

# Remove Emails and Numbers

In [11]:
def remove_Emails_and_Numbers(text):
    email_pattern = r'\S+@\S+\.\S+'
    number_pattern = r'\b\d+\b'

    cleaned_text = re.sub(email_pattern, '', text)
    cleaned_text = re.sub(number_pattern, '', cleaned_text)
    return cleaned_text

df.text = df.text.apply(remove_Emails_and_Numbers)
df

,text,target,Word Count
0,new delhi the andhra pradesh public service co...,academic interests,239
1,pune two weeks after the new academic year has...,academic interests,500
2,guwahati the results of the cbse class x exams...,academic interests,470
3,admission into the iims said kapoor. across i...,academic interests,108
4,mangaluru the mangalore institute of technolog...,academic interests,336
...,...,...,...
519995,nagpur akshay zadgaonkar is a child prodigy. h...,video gaming,500
519996,\nbayonetta lead hideki kamiya reckons the lat...,video gaming,290
519997,\nal pacino thinks the original godfather is b...,video gaming,259
519998,the latest episode of imlie begins with aryan ...,video gaming,251
519999,while the entire world is under lockdown in va...,video gaming,238

In [12]:
df["text"].iloc[0]

'new delhi the andhra pradesh public service commission appsc has released appsc group  notification on its official website on december  . as per the notification there are  vacancies to be filled through the examination. interested and eligible candidates can apply for the appsc group  vacancies from january   to january   through the official website —  the ap psc will conduct screeningpreliminary test on may   while the main exam for the successful candidates would be conducted on july  and  . appsc group  important dates    event date   opening date of application 1jan19   closing date of application 31jan19 appsc group  vacancy details    type carried forward   executive posts    non–executive posts    type fresh posts   executive posts    non–executive posts    total  educational qualificationgraduation degree in any discipline from a recognized university or institute. age limit as on july   minimum  yearsmaximum  years feesapplication fees rs   examination fees rs  no examination fees for the candidates belonging to the reserved categories like sc st bc ph  exservicemen etc. appsc is conducting this recruitment drive to fill in  vacancies in group  category. group  posts includes asst. commercial tax officer in a.p. commercial taxes subordinate service deputy tahsildar in a.p. revenue subordinate service senior auditor in a.p. state audit subordinate service municipal commissioner gradeiii in a.p. municipal commissioner subordinate service etc. '

In [13]:
import re
import codecs

def removeSpecialChar(text):
    pattern = r'[^a-zA-Z\s.]'  # Include '.' in the pattern

    cleaned_text = re.sub(pattern, '', text)
    cleaned_text = cleaned_text.replace('\n', ' ') # remove '\n' with ' '
    cleaned_text = codecs.decode(cleaned_text, 'unicode_escape') # remove '\' with ''
    cleaned_text = cleaned_text.replace('\xa0', ' ') # remove '\xa0' with ' '
    return cleaned_text

# Apply the modified function to the 'text' column in your DataFrame
df['text'] = df['text'].apply(removeSpecialChar)

In [14]:
df["text"].iloc[0]

'new delhi the andhra pradesh public service commission appsc has released appsc group  notification on its official website on december  . as per the notification there are  vacancies to be filled through the examination. interested and eligible candidates can apply for the appsc group  vacancies from january   to january   through the official website   the ap psc will conduct screeningpreliminary test on may   while the main exam for the successful candidates would be conducted on july  and  . appsc group  important dates    event date   opening date of application jan   closing date of application jan appsc group  vacancy details    type carried forward   executive posts    nonexecutive posts    type fresh posts   executive posts    nonexecutive posts    total  educational qualificationgraduation degree in any discipline from a recognized university or institute. age limit as on july   minimum  yearsmaximum  years feesapplication fees rs   examination fees rs  no examination fees for the candidates belonging to the reserved categories like sc st bc ph  exservicemen etc. appsc is conducting this recruitment drive to fill in  vacancies in group  category. group  posts includes asst. commercial tax officer in a.p. commercial taxes subordinate service deputy tahsildar in a.p. revenue subordinate service senior auditor in a.p. state audit subordinate service municipal commissioner gradeiii in a.p. municipal commissioner subordinate service etc. '

In [15]:
df["text"].iloc[1]

'pune two weeks after the new academic year has begun over  seats reserved for students from the economically backward sections in private unaided schools under the right to education rte act remain vacant in pune and mumbai schools. a study by the rte resource centre established at the indian institute of management iim ahmedabad says not a single school in mumbai has filled up all its vacancies while in pune only  schools have  admissions for the  reserved quota. the study also reveals that  schools in pune and mumbai have failed to admit a single student under the act at the standard i entry level. the analysis reveals that only  seats have been filled in standard i and  in preprimary at the end of first round of rte admissions in mumbai during the  academic year. while pune received more applications than vacancies for admission in preprimary classes nearly twothirds of the seats remain vacant at the end of the first round of the admission process in the city. even in standard i only  of seats have been filled in pune. the study revealed that there were two reasons for the low admissions  imbalance in the seat allotment with several students getting multiple allotments while some were allotted just one school that resulted in the disappointing turnout. the second factor was  of the children who were allocated admissions in one or more schools could not secure final admission.nishank varshney research associate at the centre told toi from our observation the primary reason was that many parents were sent back from schools which used means like demanding fees delaying the dates of admissions or even refusing to admit children outright in some cases. varshney added that the reason for poor admission cannot be attributed to low applications as full allocations have been allocated in  schools in standard i and  schools in preprimary section in pune. rajendra singh spokesperson of the maharashtra english school trustees association said the sudden drop in the number of admissions this year is due to a complete failure of the government to implement the act in the state and also failing to reimburse the fees of admitted students. in the first year close to  students took admission while in the following year about  students in the state took admission under rte. the third year of the implementation of the act also saw about  admissions in the state. however for all these admissions conducted by the schools there has been no reimbursement of fees by the government. hence many schools have been reluctant this year to conduct admissions he added. maitreyee shankar of kagad kach patra kashtakari panchayat kkpkp said they had received complaints from parents regarding some schools not granting admission in standard i and some refusing to admit students in the preprimary. the panchayat helps its members secure admissions under the rte for their children in various schools in pune. matin mujawar'

In [16]:
df["text"].iloc[3]

'admission into the iims said kapoor. across  iims  seats have been added for admissions this year a total of  seats. the number of women appearing for cat has been steadily increasing as well  from  in  to  in . for  more than  women appeared for the cat. additionally female aspirants are achieving better success on the cat with  women scoring higher than the  percentile on cat . fraudulent universities even conducted admission melas in the city about two years ago and admitted genuine students from the state who faced deportation following the state department crackdown said a source.'

In [18]:
df.to_csv("text_preprocessed_df.csv")

In [5]:
import pandas as pd
df=pd.read_csv("text_preprocessed_df.csv")
df

,Unnamed: 0,text,target,Word Count
0,0,new delhi the andhra pradesh public service co...,academic interests,239
1,1,pune two weeks after the new academic year has...,academic interests,500
2,2,guwahati the results of the cbse class x exams...,academic interests,470
3,3,admission into the iims said kapoor. across i...,academic interests,108
4,4,mangaluru the mangalore institute of technolog...,academic interests,336
...,...,...,...,...
519995,519995,nagpur akshay zadgaonkar is a child prodigy. h...,video gaming,500
519996,519996,bayonetta lead hideki kamiya reckons the late...,video gaming,290
519997,519997,al pacino thinks the original godfather is be...,video gaming,259
519998,519998,the latest episode of imlie begins with aryan ...,video gaming,251
519999,519999,while the entire world is under lockdown in va...,video gaming,238

# 26 IAB Categories

In [17]:
categories=df.target.unique()
categories

array(['academic interests', 'arts and culture', 'automotives',
       'books and literature', 'business and finance', 'careers',
       'family and relationships', 'food and drinks', 'health',
       'healthy living', 'hobbies and interests', 'home and garden',
       'movies', 'music and audio', 'news and politics',
       'personal finance', 'pets',
       'pharmaceuticals, conditions, and symptoms', 'real estate',
       'shopping', 'sports', 'style and fashion',
       'technology and computing', 'television', 'travel', 'video gaming'],
      dtype=object)

# 10  Sample from each Categories

In [18]:
sample_df = pd.DataFrame(columns=['text', 'target'])
for category in categories:
    category_samples = df[df['target'] == category].sample(10)
    sample_df = pd.concat([sample_df, category_samples])

sample_df.reset_index(drop=True, inplace=True)
sample_df

,text,target,Word Count
0,guwahati covid has compelled the national test...,academic interests,500.0
1,mathematics is an essential part of our everyd...,academic interests,500.0
2,the indian institute of foreign trade iift rec...,academic interests,308.0
3,tamil nadu common entrance test tancet admit ...,academic interests,246.0
4,to their consumer base. the lockdown has broug...,academic interests,320.0
...,...,...,...
255,the lord of the rings gollum has finally gott...,video gaming,364.0
256,unrequited love a friendship going awry or a m...,video gaming,233.0
257,there havent been any public updates on the d...,video gaming,341.0
258,star wars jedi survivor introduces plenty of ...,video gaming,474.0
259,the witcher season may be getting a twopart ...,video gaming,263.0

#  Generating word embeddings using DistilBert Model

In [19]:
from transformers import DistilBertTokenizer, DistilBertModel
import pandas as pd
import torch

# Load the pretrained DistilBERT model and tokenizer
model_name = "distilbert-base-uncased"
tokenizer = DistilBertTokenizer.from_pretrained(model_name)
model = DistilBertModel.from_pretrained(model_name)

def generate_embeddings(text):
    # Tokenize and encode the text
    inputs = tokenizer(text, return_tensors="pt", padding=True, truncation=True,max_length=512)
    
    # Pass the input through the model
    outputs = model(**inputs)
    
    # Extract embeddings from the hidden states (outputs[0])
    embeddings = outputs[0]
    
    return embeddings



# Apply the generate_embeddings function to the 'text' of the DataFrame
sample_df["embeddings"] =sample_df["text"].apply(generate_embeddings)
sample_df

Some weights of the model checkpoint at distilbert-base-uncased were not used when initializing DistilBertModel: ['vocab_layer_norm.bias', 'vocab_projector.weight', 'vocab_transform.bias', 'vocab_layer_norm.weight', 'vocab_transform.weight', 'vocab_projector.bias']
- This IS expected if you are initializing DistilBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DistilBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

,text,target,Word Count,embeddings
0,guwahati covid has compelled the national test...,academic interests,500.0,"[[[tensor(-0.0325, grad_fn=<UnbindBackward0>),..."
1,mathematics is an essential part of our everyd...,academic interests,500.0,"[[[tensor(-0.1660, grad_fn=<UnbindBackward0>),..."
2,the indian institute of foreign trade iift rec...,academic interests,308.0,"[[[tensor(-0.1927, grad_fn=<UnbindBackward0>),..."
3,tamil nadu common entrance test tancet admit ...,academic interests,246.0,"[[[tensor(-0.1798, grad_fn=<UnbindBackward0>),..."
4,to their consumer base. the lockdown has broug...,academic interests,320.0,"[[[tensor(0.0231, grad_fn=<UnbindBackward0>), ..."
...,...,...,...,...
255,the lord of the rings gollum has finally gott...,video gaming,364.0,"[[[tensor(-0.2078, grad_fn=<UnbindBackward0>),..."
256,unrequited love a friendship going awry or a m...,video gaming,233.0,"[[[tensor(-0.2623, grad_fn=<UnbindBackward0>),..."
257,there havent been any public updates on the d...,video gaming,341.0,"[[[tensor(-0.2989, grad_fn=<UnbindBackward0>),..."
258,star wars jedi survivor introduces plenty of ...,video gaming,474.0,"[[[tensor(-0.0432, grad_fn=<UnbindBackward0>),..."
259,the witcher season may be getting a twopart ...,video gaming,263.0,"[[[tensor(0.1465, grad_fn=<UnbindBackward0>), ..."

In [20]:
sample_df["embeddings"].iloc[0].shape

torch.Size([1, 512, 768])

In [21]:
def convert(inp):
    inp=np.array(torch.detach(inp[0]))
    return inp

In [22]:
import torch
X=sample_df["embeddings"].apply(convert)

In [23]:
x=X.values

In [28]:
x.shape

(260,)

In [29]:
x[0].shape

(512, 768)

In [30]:
x[4].shape

(379, 768)

# Padding x to fixed dimension

In [31]:
import numpy as np

# Assuming you have a 2D NumPy array X where each row is a sequence

# Calculate the maximum sequence length
max_length = max(len(seq) for seq in x)

# Create a new array for padded sequences
padded_x = []

# Perform zero-padding for each sequence in X
for seq in x:
    # Calculate the length of the current sequence
    seq_len = len(seq)
    
    # Calculate the amount of padding needed
    padding_len = max_length - seq_len
    
    # Pad the sequence with zeros using np.pad along the second axis (axis=1)
    padded_seq = np.pad(seq, [(padding_len, 0), (0, 0)], constant_values=0.0)
    
    # Append the padded sequence to the list
    padded_x.append(padded_seq)

# Convert the list of padded sequences to a 2D NumPy array
padded_x = np.array(padded_x, dtype=np.float32)

In [32]:
padded_x[0].shape

(512, 768)

In [33]:
padded_x[4].shape

(512, 768)

In [34]:
y=sample_df["target"].values
y

array(['academic interests', 'academic interests', 'academic interests',
       'academic interests', 'academic interests', 'academic interests',
       'academic interests', 'academic interests', 'academic interests',
       'academic interests', 'arts and culture', 'arts and culture',
       'arts and culture', 'arts and culture', 'arts and culture',
       'arts and culture', 'arts and culture', 'arts and culture',
       'arts and culture', 'arts and culture', 'automotives',
       'automotives', 'automotives', 'automotives', 'automotives',
       'automotives', 'automotives', 'automotives', 'automotives',
       'automotives', 'books and literature', 'books and literature',
       'books and literature', 'books and literature',
       'books and literature', 'books and literature',
       'books and literature', 'books and literature',
       'books and literature', 'books and literature',
       'business and finance', 'business and finance',
       'business and finance', 'business and finance',
       'business and finance', 'business and finance',
       'business and finance', 'business and finance',
       'business and finance', 'business and finance', 'careers',
       'careers', 'careers', 'careers', 'careers', 'careers', 'careers',
       'careers', 'careers', 'careers', 'family and relationships',
       'family and relationships', 'family and relationships',
       'family and relationships', 'family and relationships',
       'family and relationships', 'family and relationships',
       'family and relationships', 'family and relationships',
       'family and relationships', 'food and drinks', 'food and drinks',
       'food and drinks', 'food and drinks', 'food and drinks',
       'food and drinks', 'food and drinks', 'food and drinks',
       'food and drinks', 'food and drinks', 'health', 'health', 'health',
       'health', 'health', 'health', 'health', 'health', 'health',
       'health', 'healthy living', 'healthy living', 'healthy living',
       'healthy living', 'healthy living', 'healthy living',
       'healthy living', 'healthy living', 'healthy living',
       'healthy living', 'hobbies and interests', 'hobbies and interests',
       'hobbies and interests', 'hobbies and interests',
       'hobbies and interests', 'hobbies and interests',
       'hobbies and interests', 'hobbies and interests',
       'hobbies and interests', 'hobbies and interests',
       'home and garden', 'home and garden', 'home and garden',
       'home and garden', 'home and garden', 'home and garden',
       'home and garden', 'home and garden', 'home and garden',
       'home and garden', 'movies', 'movies', 'movies', 'movies',
       'movies', 'movies', 'movies', 'movies', 'movies', 'movies',
       'music and audio', 'music and audio', 'music and audio',
       'music and audio', 'music and audio', 'music and audio',
       'music and audio', 'music and audio', 'music and audio',
       'music and audio', 'news and politics', 'news and politics',
       'news and politics', 'news and politics', 'news and politics',
       'news and politics', 'news and politics', 'news and politics',
       'news and politics', 'news and politics', 'personal finance',
       'personal finance', 'personal finance', 'personal finance',
       'personal finance', 'personal finance', 'personal finance',
       'personal finance', 'personal finance', 'personal finance', 'pets',
       'pets', 'pets', 'pets', 'pets', 'pets', 'pets', 'pets', 'pets',
       'pets', 'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms',
       'pharmaceuticals, conditions, and symptoms', 'real estate',
       'real estate', 'real estate', 'real estate', 'real estate',
       'real estate', 'real estate', 'real estate', 'real estate',
       'real estate', 'shopping', 'shopping', 'shopping', 'shopping',
       'shopping', 'shopping', 'shopping', 'shopping', 'shopping',
       'shopping', 'sports', 'sports', 'sports', 'sports', 'sports',
       'sports', 'sports', 'sports', 'sports', 'sports',
       'style and fashion', 'style and fashion', 'style and fashion',
       'style and fashion', 'style and fashion', 'style and fashion',
       'style and fashion', 'style and fashion', 'style and fashion',
       'style and fashion', 'technology and computing',
       'technology and computing', 'technology and computing',
       'technology and computing', 'technology and computing',
       'technology and computing', 'technology and computing',
       'technology and computing', 'technology and computing',
       'technology and computing', 'television', 'television',
       'television', 'television', 'television', 'television',
       'television', 'television', 'television', 'television', 'travel',
       'travel', 'travel', 'travel', 'travel', 'travel', 'travel',
       'travel', 'travel', 'travel', 'video gaming', 'video gaming',
       'video gaming', 'video gaming', 'video gaming', 'video gaming',
       'video gaming', 'video gaming', 'video gaming', 'video gaming'],
      dtype=object)

In [35]:
from sklearn.preprocessing import OneHotEncoder
label=OneHotEncoder()
y=label.fit_transform(sample_df[["target"]])
y

<260x26 sparse matrix of type '<class 'numpy.float64'>'
	with 260 stored elements in Compressed Sparse Row format>

In [36]:
y=y.toarray()
y

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [37]:
from sklearn.model_selection import train_test_split
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(padded_x, y, test_size=0.2, random_state=42)

# LSTM

In [38]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense,Dropout

# Define your LSTM model
model = Sequential([
    LSTM(256, return_sequences=True, input_shape=(512,768)),
    Dropout(0.4),
    LSTM(128, return_sequences=False),
    Dropout(0.4),
    Dense(64, activation='relu'),
    Dropout(0.4),
    Dense(26, activation='softmax')
])

2023-09-13 07:45:52.393040: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-09-13 07:45:55.156602: I tensorflow/core/util/port.cc:104] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-09-13 07:46:06.129830: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2023-09-13 07:46:06.130151: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2023-09-13 07:46:06.130168: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-09-13 07:46:19.351736: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:267] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
2023-09-13 07:46:19.351816: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (toi): /proc/driver/nvidia/version does not exist
2023-09-13 07:46:19.361138: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F AVX512_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [39]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
history = model.fit(X_train,y_train, epochs=100, validation_split=0.2, shuffle=True)

Epoch 1/100
6/6 [==============================] - 18s 1s/step - loss: 3.3380 - accuracy: 0.0241 - val_loss: 3.2486 - val_accuracy: 0.0476
Epoch 2/100
6/6 [==============================] - 7s 1s/step - loss: 3.2237 - accuracy: 0.0783 - val_loss: 3.2952 - val_accuracy: 0.0238
Epoch 3/100
6/6 [==============================] - 7s 1s/step - loss: 3.2241 - accuracy: 0.1084 - val_loss: 3.2876 - val_accuracy: 0.0000e+00
Epoch 4/100
6/6 [==============================] - 6s 1s/step - loss: 3.1506 - accuracy: 0.1145 - val_loss: 3.3086 - val_accuracy: 0.0714
Epoch 5/100
6/6 [==============================] - 6s 1s/step - loss: 3.0702 - accuracy: 0.1325 - val_loss: 3.1657 - val_accuracy: 0.1190
Epoch 6/100
6/6 [==============================] - 6s 1s/step - loss: 2.9480 - accuracy: 0.1928 - val_loss: 3.2326 - val_accuracy: 0.0714
Epoch 7/100
6/6 [==============================] - 6s 1s/step - loss: 2.8160 - accuracy: 0.2349 - val_loss: 3.1545 - val_accuracy: 0.0714
Epoch 8/100
6/6 [==============================] - 6s 1s/step - loss: 2.7510 - accuracy: 0.1928 - val_loss: 3.1722 - val_accuracy: 0.0952
Epoch 9/100
6/6 [==============================] - 7s 1s/step - loss: 2.6599 - accuracy: 0.2470 - val_loss: 3.1191 - val_accuracy: 0.0952
Epoch 10/100
6/6 [==============================] - 7s 1s/step - loss: 2.5216 - accuracy: 0.2771 - val_loss: 3.1368 - val_accuracy: 0.1190
Epoch 11/100
6/6 [==============================] - 6s 1s/step - loss: 2.3487 - accuracy: 0.2952 - val_loss: 3.3173 - val_accuracy: 0.1667
Epoch 12/100
6/6 [==============================] - 7s 1s/step - loss: 2.2708 - accuracy: 0.3614 - val_loss: 3.5087 - val_accuracy: 0.0952
Epoch 13/100
6/6 [==============================] - 6s 1s/step - loss: 2.1669 - accuracy: 0.3795 - val_loss: 3.0982 - val_accuracy: 0.1667
Epoch 14/100
6/6 [==============================] - 7s 1s/step - loss: 1.9295 - accuracy: 0.4819 - val_loss: 3.4114 - val_accuracy: 0.0952
Epoch 15/100
6/6 [==============================] - 6s 1s/step - loss: 1.8619 - accuracy: 0.4458 - val_loss: 3.1187 - val_accuracy: 0.1190
Epoch 16/100
6/6 [==============================] - 6s 1s/step - loss: 1.7047 - accuracy: 0.5060 - val_loss: 3.1947 - val_accuracy: 0.1190
Epoch 17/100
6/6 [==============================] - 7s 1s/step - loss: 1.5588 - accuracy: 0.5843 - val_loss: 3.2046 - val_accuracy: 0.1905
Epoch 18/100
6/6 [==============================] - 7s 1s/step - loss: 1.7524 - accuracy: 0.5000 - val_loss: 3.3389 - val_accuracy: 0.1190
Epoch 19/100
6/6 [==============================] - 7s 1s/step - loss: 1.4790 - accuracy: 0.5663 - val_loss: 3.1446 - val_accuracy: 0.1190
Epoch 20/100
6/6 [==============================] - 7s 1s/step - loss: 1.3370 - accuracy: 0.6205 - val_loss: 3.3239 - val_accuracy: 0.0952
Epoch 21/100
6/6 [==============================] - 7s 1s/step - loss: 1.2152 - accuracy: 0.6747 - val_loss: 3.2023 - val_accuracy: 0.1905
Epoch 22/100
6/6 [==============================] - 6s 1s/step - loss: 1.0089 - accuracy: 0.7289 - val_loss: 3.5238 - val_accuracy: 0.1667
Epoch 23/100
6/6 [==============================] - 7s 1s/step - loss: 1.0774 - accuracy: 0.6867 - val_loss: 3.4129 - val_accuracy: 0.0952
Epoch 24/100
6/6 [==============================] - 7s 1s/step - loss: 0.8973 - accuracy: 0.7831 - val_loss: 3.6694 - val_accuracy: 0.0952
Epoch 25/100
6/6 [==============================] - 7s 1s/step - loss: 0.9087 - accuracy: 0.7530 - val_loss: 3.9486 - val_accuracy: 0.1667
Epoch 26/100
6/6 [==============================] - 7s 1s/step - loss: 0.6821 - accuracy: 0.8133 - val_loss: 3.6664 - val_accuracy: 0.1905
Epoch 27/100
6/6 [==============================] - 7s 1s/step - loss: 0.5652 - accuracy: 0.8855 - val_loss: 4.2295 - val_accuracy: 0.1190
Epoch 28/100
6/6 [==============================] - 6s 1s/step - loss: 0.5213 - accuracy: 0.8614 - val_loss: 3.9999 - val_accuracy: 0.1429
Epoch 29/100
6/6 [==============================] - 7s 1s/step - loss: 0.4561 - accuracy: 0.9036 - val_loss: 4.0670 - val_accuracy: 0.1905
Epoch 30/100
6/6 [==============================] - 7s 1s/step - loss: 0.3981 - accuracy: 0.9217 - val_loss: 4.0537 - val_accuracy: 0.1667
Epoch 31/100
6/6 [==============================] - 7s 1s/step - loss: 0.4717 - accuracy: 0.8916 - val_loss: 4.3146 - val_accuracy: 0.0952
Epoch 32/100
6/6 [==============================] - 7s 1s/step - loss: 0.3677 - accuracy: 0.9036 - val_loss: 4.3702 - val_accuracy: 0.1429
Epoch 33/100
6/6 [==============================] - 7s 1s/step - loss: 0.3519 - accuracy: 0.9217 - val_loss: 4.3975 - val_accuracy: 0.1429
Epoch 34/100
6/6 [==============================] - 7s 1s/step - loss: 0.2522 - accuracy: 0.9578 - val_loss: 4.8821 - val_accuracy: 0.0714
Epoch 35/100
6/6 [==============================] - 7s 1s/step - loss: 0.2230 - accuracy: 0.9578 - val_loss: 4.3066 - val_accuracy: 0.2143
Epoch 36/100
6/6 [==============================] - 7s 1s/step - loss: 0.2469 - accuracy: 0.9578 - val_loss: 4.3395 - val_accuracy: 0.2143
Epoch 37/100
6/6 [==============================] - 7s 1s/step - loss: 0.2211 - accuracy: 0.9337 - val_loss: 4.8148 - val_accuracy: 0.1429
Epoch 38/100
6/6 [==============================] - 7s 1s/step - loss: 0.1919 - accuracy: 0.9578 - val_loss: 5.0351 - val_accuracy: 0.1429
Epoch 39/100
6/6 [==============================] - 7s 1s/step - loss: 0.2369 - accuracy: 0.9578 - val_loss: 4.3024 - val_accuracy: 0.2381
Epoch 40/100
6/6 [==============================] - 6s 1s/step - loss: 0.2071 - accuracy: 0.9578 - val_loss: 4.3905 - val_accuracy: 0.1429
Epoch 41/100
6/6 [==============================] - 7s 1s/step - loss: 0.1591 - accuracy: 0.9699 - val_loss: 4.4662 - val_accuracy: 0.1667
Epoch 42/100
6/6 [==============================] - 7s 1s/step - loss: 0.1576 - accuracy: 0.9759 - val_loss: 4.6458 - val_accuracy: 0.1905
Epoch 43/100
6/6 [==============================] - 7s 1s/step - loss: 0.1665 - accuracy: 0.9578 - val_loss: 4.7069 - val_accuracy: 0.1905
Epoch 44/100
6/6 [==============================] - 7s 1s/step - loss: 0.1581 - accuracy: 0.9699 - val_loss: 4.9394 - val_accuracy: 0.2143
Epoch 45/100
6/6 [==============================] - 7s 1s/step - loss: 0.1161 - accuracy: 0.9759 - val_loss: 5.0240 - val_accuracy: 0.2143
Epoch 46/100
6/6 [==============================] - 7s 1s/step - loss: 0.1384 - accuracy: 0.9699 - val_loss: 5.1251 - val_accuracy: 0.2381
Epoch 47/100
6/6 [==============================] - 7s 1s/step - loss: 0.1423 - accuracy: 0.9759 - val_loss: 5.1392 - val_accuracy: 0.2619
Epoch 48/100
6/6 [==============================] - 7s 1s/step - loss: 0.1129 - accuracy: 0.9880 - val_loss: 5.2013 - val_accuracy: 0.2381
Epoch 49/100
6/6 [==============================] - 7s 1s/step - loss: 0.1015 - accuracy: 0.9880 - val_loss: 5.1154 - val_accuracy: 0.1905
Epoch 50/100
6/6 [==============================] - 7s 1s/step - loss: 0.1049 - accuracy: 0.9699 - val_loss: 5.1115 - val_accuracy: 0.2143
Epoch 51/100
6/6 [==============================] - 6s 1s/step - loss: 0.0668 - accuracy: 0.9940 - val_loss: 5.1464 - val_accuracy: 0.2143
Epoch 52/100
6/6 [==============================] - 7s 1s/step - loss: 0.0891 - accuracy: 0.9880 - val_loss: 5.2645 - val_accuracy: 0.1190
Epoch 53/100
6/6 [==============================] - 7s 1s/step - loss: 0.0866 - accuracy: 0.9880 - val_loss: 5.1094 - val_accuracy: 0.1905
Epoch 54/100
6/6 [==============================] - 7s 1s/step - loss: 0.1086 - accuracy: 0.9759 - val_loss: 4.8490 - val_accuracy: 0.2143
Epoch 55/100
6/6 [==============================] - 6s 1s/step - loss: 0.0914 - accuracy: 0.9759 - val_loss: 5.1557 - val_accuracy: 0.2143
Epoch 56/100
6/6 [==============================] - 6s 1s/step - loss: 0.0452 - accuracy: 0.9940 - val_loss: 5.5425 - val_accuracy: 0.2143
Epoch 57/100
6/6 [==============================] - 7s 1s/step - loss: 0.0767 - accuracy: 0.9940 - val_loss: 5.5672 - val_accuracy: 0.2381
Epoch 58/100
6/6 [==============================] - 7s 1s/step - loss: 0.0609 - accuracy: 1.0000 - val_loss: 5.6698 - val_accuracy: 0.2381
Epoch 59/100
6/6 [==============================] - 6s 1s/step - loss: 0.0557 - accuracy: 0.9880 - val_loss: 5.6229 - val_accuracy: 0.2143
Epoch 60/100
6/6 [==============================] - 7s 1s/step - loss: 0.0608 - accuracy: 1.0000 - val_loss: 5.3135 - val_accuracy: 0.2381
Epoch 61/100
6/6 [==============================] - 7s 1s/step - loss: 0.0696 - accuracy: 0.9880 - val_loss: 5.1545 - val_accuracy: 0.2143
Epoch 62/100
6/6 [==============================] - 7s 1s/step - loss: 0.0489 - accuracy: 1.0000 - val_loss: 5.2980 - val_accuracy: 0.1429
Epoch 63/100
6/6 [==============================] - 6s 1s/step - loss: 0.0771 - accuracy: 0.9880 - val_loss: 5.3530 - val_accuracy: 0.1905
Epoch 64/100
6/6 [==============================] - 6s 1s/step - loss: 0.0536 - accuracy: 0.9940 - val_loss: 5.3160 - val_accuracy: 0.1905
Epoch 65/100
6/6 [==============================] - 6s 1s/step - loss: 0.0618 - accuracy: 0.9880 - val_loss: 5.7851 - val_accuracy: 0.1667
Epoch 66/100
6/6 [==============================] - 7s 1s/step - loss: 0.0649 - accuracy: 0.9819 - val_loss: 5.7538 - val_accuracy: 0.1667
Epoch 67/100
6/6 [==============================] - 7s 1s/step - loss: 0.3249 - accuracy: 0.9337 - val_loss: 6.0445 - val_accuracy: 0.1667
Epoch 68/100
6/6 [==============================] - 7s 1s/step - loss: 0.7099 - accuracy: 0.7952 - val_loss: 3.9210 - val_accuracy: 0.1190
Epoch 69/100
6/6 [==============================] - 7s 1s/step - loss: 0.5586 - accuracy: 0.8494 - val_loss: 4.5658 - val_accuracy: 0.0952
Epoch 70/100
6/6 [==============================] - 7s 1s/step - loss: 0.5319 - accuracy: 0.8313 - val_loss: 4.6689 - val_accuracy: 0.0952
Epoch 71/100
6/6 [==============================] - 7s 1s/step - loss: 0.4691 - accuracy: 0.8735 - val_loss: 4.0685 - val_accuracy: 0.1667
Epoch 72/100
6/6 [==============================] - 7s 1s/step - loss: 0.2784 - accuracy: 0.9217 - val_loss: 4.3657 - val_accuracy: 0.1190
Epoch 73/100
6/6 [==============================] - 7s 1s/step - loss: 0.1714 - accuracy: 0.9639 - val_loss: 4.6514 - val_accuracy: 0.1905
Epoch 74/100
6/6 [==============================] - 6s 1s/step - loss: 0.1382 - accuracy: 0.9759 - val_loss: 4.7149 - val_accuracy: 0.1190
Epoch 75/100
6/6 [==============================] - 7s 1s/step - loss: 0.0841 - accuracy: 0.9880 - val_loss: 4.7052 - val_accuracy: 0.1905
Epoch 76/100
6/6 [==============================] - 7s 1s/step - loss: 0.1051 - accuracy: 0.9759 - val_loss: 4.8974 - val_accuracy: 0.1190
Epoch 77/100
6/6 [==============================] - 7s 1s/step - loss: 0.1094 - accuracy: 0.9699 - val_loss: 5.1147 - val_accuracy: 0.1190
Epoch 78/100
6/6 [==============================] - 7s 1s/step - loss: 0.0702 - accuracy: 1.0000 - val_loss: 5.1469 - val_accuracy: 0.1667
Epoch 79/100
6/6 [==============================] - 7s 1s/step - loss: 0.0519 - accuracy: 1.0000 - val_loss: 5.2360 - val_accuracy: 0.1667
Epoch 80/100
6/6 [==============================] - 7s 1s/step - loss: 0.0504 - accuracy: 0.9819 - val_loss: 5.3653 - val_accuracy: 0.1190
Epoch 81/100
6/6 [==============================] - 7s 1s/step - loss: 0.0711 - accuracy: 0.9940 - val_loss: 5.2711 - val_accuracy: 0.1667
Epoch 82/100
6/6 [==============================] - 7s 1s/step - loss: 0.0571 - accuracy: 0.9940 - val_loss: 5.1473 - val_accuracy: 0.1667
Epoch 83/100
6/6 [==============================] - 7s 1s/step - loss: 0.0550 - accuracy: 0.9880 - val_loss: 5.0797 - val_accuracy: 0.2381
Epoch 84/100
6/6 [==============================] - 7s 1s/step - loss: 0.0653 - accuracy: 0.9880 - val_loss: 5.1455 - val_accuracy: 0.2143
Epoch 85/100
6/6 [==============================] - 7s 1s/step - loss: 0.0463 - accuracy: 0.9940 - val_loss: 5.2637 - val_accuracy: 0.1667
Epoch 86/100
6/6 [==============================] - 7s 1s/step - loss: 0.0461 - accuracy: 0.9880 - val_loss: 5.4115 - val_accuracy: 0.1667
Epoch 87/100
6/6 [==============================] - 7s 1s/step - loss: 0.0371 - accuracy: 1.0000 - val_loss: 5.4253 - val_accuracy: 0.1667
Epoch 88/100
6/6 [==============================] - 7s 1s/step - loss: 0.0416 - accuracy: 0.9940 - val_loss: 5.4314 - val_accuracy: 0.1905
Epoch 89/100
6/6 [==============================] - 7s 1s/step - loss: 0.0402 - accuracy: 0.9940 - val_loss: 5.4521 - val_accuracy: 0.1905
Epoch 90/100
6/6 [==============================] - 7s 1s/step - loss: 0.0412 - accuracy: 0.9880 - val_loss: 5.4667 - val_accuracy: 0.1905
Epoch 91/100
6/6 [==============================] - 7s 1s/step - loss: 0.0272 - accuracy: 1.0000 - val_loss: 5.3580 - val_accuracy: 0.1667
Epoch 92/100
6/6 [==============================] - 7s 1s/step - loss: 0.0280 - accuracy: 0.9940 - val_loss: 5.2994 - val_accuracy: 0.1667
Epoch 93/100
6/6 [==============================] - 7s 1s/step - loss: 0.0212 - accuracy: 1.0000 - val_loss: 5.2926 - val_accuracy: 0.1667
Epoch 94/100
6/6 [==============================] - 7s 1s/step - loss: 0.0301 - accuracy: 1.0000 - val_loss: 5.3746 - val_accuracy: 0.1667
Epoch 95/100
6/6 [==============================] - 7s 1s/step - loss: 0.0265 - accuracy: 1.0000 - val_loss: 5.4213 - val_accuracy: 0.1905
Epoch 96/100
6/6 [==============================] - 7s 1s/step - loss: 0.0356 - accuracy: 0.9940 - val_loss: 5.4872 - val_accuracy: 0.1667
Epoch 97/100
6/6 [==============================] - 7s 1s/step - loss: 0.0257 - accuracy: 1.0000 - val_loss: 5.7987 - val_accuracy: 0.1667
Epoch 98/100
6/6 [==============================] - 7s 1s/step - loss: 0.0137 - accuracy: 1.0000 - val_loss: 5.9387 - val_accuracy: 0.1667
Epoch 99/100
6/6 [==============================] - 7s 1s/step - loss: 0.0403 - accuracy: 0.9940 - val_loss: 5.8758 - val_accuracy: 0.1905
Epoch 100/100
6/6 [==============================] - 7s 1s/step - loss: 0.0242 - accuracy: 1.0000 - val_loss: 5.8560 - val_accuracy: 0.1905
2/2 [==============================] - 1s 296ms/step - loss: 6.4715 - accuracy: 0.2115
Test Loss: 6.4715
Test Accuracy: 21.15%

In [40]:
# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Loss: {loss:.4f}')
print(f'Test Accuracy: {accuracy * 100:.2f}%')

2/2 [==============================] - 1s 305ms/step - loss: 6.4715 - accuracy: 0.2115
Test Loss: 6.4715
Test Accuracy: 21.15%