In [1]:
import numpy as np
import pandas as pd
import ast
import torch
from transformers import BertModel, BertTokenizer

In [2]:
preprocessed_df = pd.read_csv('C:\\Users\\asus\\NLP\\preprocessed_df.csv')
preprocessed_df

                    target                                             tokens
0       academic interests  ('new', 'delhi', 'andhra', 'pradesh', 'public'...
1       academic interests  ('pune', 'two', 'week', 'new', 'academic', 'ye...
2       academic interests  ('guwahati', 'result', 'cbse', 'class', 'x', '...
3       academic interests  ('admission', 'iims', 'say', 'kapoor', 'across...
4       academic interests  ('mangaluru', 'mangalore', 'institute', 'techn...
...                    ...                                                ...
518330        video gaming  ('nagpur', 'akshay', 'zadgaonkar', 'child', 'p...
518331        video gaming  ('bayonetta', 'lead', 'hideki', 'kamiya', 'rec...
518332        video gaming  ('al', 'pacino', 'think', 'original', 'godfath...
518333        video gaming  ('late', 'episode', 'imlie', 'begin', 'aryan',...
518334        video gaming  ('entire', 'world', 'lockdown', 'various', 'de...

[518335 rows x 2 columns]

In [3]:
preprocessed_df.iloc[0].tokens

"('new', 'delhi', 'andhra', 'pradesh', 'public', 'service', 'commission', 'appsc', 'release', 'appsc', 'group', 'notification', 'official', 'website', 'december', 'per', 'notification', 'vacancy', 'fill', 'examination', 'interested', 'eligible', 'candidate', 'apply', 'appsc', 'group', 'vacancy', 'january', 'january', 'official', 'website', 'ap', 'psc', 'conduct', 'screeningpreliminary', 'test', 'may', 'main', 'exam', 'successful', 'candidate', 'would', 'conduct', 'july', 'appsc', 'group', 'important', 'date', 'event', 'date', 'opening', 'date', 'application', 'jan', 'closing', 'date', 'application', 'jan', 'appsc', 'group', 'vacancy', 'detail', 'type', 'carry', 'forward', 'executive', 'post', 'nonexecutive', 'post', 'type', 'fresh', 'post', 'executive', 'post', 'nonexecutive', 'post', 'total', 'educational', 'qualificationgraduation', 'degree', 'discipline', 'recognize', 'university', 'institute', 'age', 'limit', 'july', 'minimum', 'yearsmaximum', 'year', 'feesapplication', 'fee', 'rs', 'examination', 'fee', 'rs', 'examination', 'fee', 'candidate', 'belong', 'reserved', 'category', 'like', 'sc', 'st', 'bc', 'ph', 'exservicemen', 'etc', 'appsc', 'conduct', 'recruitment', 'drive', 'fill', 'vacancy', 'group', 'category', 'group', 'post', 'include', 'asst', 'commercial', 'tax', 'officer', 'ap', 'commercial', 'tax', 'subordinate', 'service', 'deputy', 'tahsildar', 'ap', 'revenue', 'subordinate', 'service', 'senior', 'auditor', 'ap', 'state', 'audit', 'subordinate', 'service', 'municipal', 'commissioner', 'gradeiii', 'ap', 'municipal', 'commissioner', 'subordinate', 'service', 'etc')"

In [4]:
preprocessed_df.tokens = preprocessed_df.tokens.apply(ast.literal_eval)

In [5]:
preprocessed_df.iloc[0].tokens

('new',
 'delhi',
 'andhra',
 'pradesh',
 'public',
 'service',
 'commission',
 'appsc',
 'release',
 'appsc',
 'group',
 'notification',
 'official',
 'website',
 'december',
 'per',
 'notification',
 'vacancy',
 'fill',
 'examination',
 'interested',
 'eligible',
 'candidate',
 'apply',
 'appsc',
 'group',
 'vacancy',
 'january',
 'january',
 'official',
 'website',
 'ap',
 'psc',
 'conduct',
 'screeningpreliminary',
 'test',
 'may',
 'main',
 'exam',
 'successful',
 'candidate',
 'would',
 'conduct',
 'july',
 'appsc',
 'group',
 'important',
 'date',
 'event',
 'date',
 'opening',
 'date',
 'application',
 'jan',
 'closing',
 'date',
 'application',
 'jan',
 'appsc',
 'group',
 'vacancy',
 'detail',
 'type',
 'carry',
 'forward',
 'executive',
 'post',
 'nonexecutive',
 'post',
 'type',
 'fresh',
 'post',
 'executive',
 'post',
 'nonexecutive',
 'post',
 'total',
 'educational',
 'qualificationgraduation',
 'degree',
 'discipline',
 'recognize',
 'university',
 'institute',
 'age',
 'limit',
 'july',
 'minimum',
 'yearsmaximum',
 'year',
 'feesapplication',
 'fee',
 'rs',
 'examination',
 'fee',
 'rs',
 'examination',
 'fee',
 'candidate',
 'belong',
 'reserved',
 'category',
 'like',
 'sc',
 'st',
 'bc',
 'ph',
 'exservicemen',
 'etc',
 'appsc',
 'conduct',
 'recruitment',
 'drive',
 'fill',
 'vacancy',
 'group',
 'category',
 'group',
 'post',
 'include',
 'asst',
 'commercial',
 'tax',
 'officer',
 'ap',
 'commercial',
 'tax',
 'subordinate',
 'service',
 'deputy',
 'tahsildar',
 'ap',
 'revenue',
 'subordinate',
 'service',
 'senior',
 'auditor',
 'ap',
 'state',
 'audit',
 'subordinate',
 'service',
 'municipal',
 'commissioner',
 'gradeiii',
 'ap',
 'municipal',
 'commissioner',
 'subordinate',
 'service',
 'etc')

In [6]:
preprocessed_df['Count'] = preprocessed_df.tokens.apply(len)

In [7]:
preprocessed_df

,target,tokens,Count
0,academic interests,"(new, delhi, andhra, pradesh, public, service,...",151
1,academic interests,"(pune, two, week, new, academic, year, begin, ...",269
2,academic interests,"(guwahati, result, cbse, class, x, exam, annou...",261
3,academic interests,"(admission, iims, say, kapoor, across, iims, s...",56
4,academic interests,"(mangaluru, mangalore, institute, technology, ...",203
...,...,...,...
518330,video gaming,"(nagpur, akshay, zadgaonkar, child, prodigy, c...",291
518331,video gaming,"(bayonetta, lead, hideki, kamiya, reckons, lat...",176
518332,video gaming,"(al, pacino, think, original, godfather, well,...",147
518333,video gaming,"(late, episode, imlie, begin, aryan, receive, ...",130
518334,video gaming,"(entire, world, lockdown, various, degree, peo...",115

In [8]:
preprocessed_df.Count.describe()

count    518335.000000
mean        179.827382
std          80.234937
min           0.000000
25%         109.000000
50%         173.000000
75%         250.000000
max         500.000000
Name: Count, dtype: float64

In [9]:
preprocessed_df[preprocessed_df.Count < 50]

,target,tokens,Count
2957,academic interests,"(jaipur, timetable, rajasthan, grade, teacher,...",49
3585,academic interests,"(bth, hjpi, hjpii, mfp, nke, spji, spjii, spji...",36
7338,academic interests,"(director, civil, defence, cooperative, societ...",46
10152,academic interests,"(lie, vacantnone, position, vacant, qualified,...",48
11146,academic interests,"(chhatra, marg, shambhavi, subhashini, tell, t...",48
...,...,...,...
514232,video gaming,"(analyst, look, back, grateful, shivlal, yadav...",48
515827,video gaming,"(also, give, golfer, fresh, perspective, life,...",46
516891,video gaming,"(go, help, go, favour, even, rubina, authorita...",47
518009,video gaming,"(two, day, definitely, watch, day, afternot, a...",48
518039,video gaming,"(get, loop, zip, accuracy, back, important, sp...",49

In [10]:
df = preprocessed_df[preprocessed_df.Count >= 50]
df

,target,tokens,Count
0,academic interests,"(new, delhi, andhra, pradesh, public, service,...",151
1,academic interests,"(pune, two, week, new, academic, year, begin, ...",269
2,academic interests,"(guwahati, result, cbse, class, x, exam, annou...",261
3,academic interests,"(admission, iims, say, kapoor, across, iims, s...",56
4,academic interests,"(mangaluru, mangalore, institute, technology, ...",203
...,...,...,...
518330,video gaming,"(nagpur, akshay, zadgaonkar, child, prodigy, c...",291
518331,video gaming,"(bayonetta, lead, hideki, kamiya, reckons, lat...",176
518332,video gaming,"(al, pacino, think, original, godfather, well,...",147
518333,video gaming,"(late, episode, imlie, begin, aryan, receive, ...",130
518334,video gaming,"(entire, world, lockdown, various, degree, peo...",115

In [11]:
df['tokens'] = df['tokens'].apply(list)

C:\Users\asus\AppData\Local\Temp\ipykernel_6984\3196849200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokens'] = df['tokens'].apply(list)

In [12]:
df.iloc[0].tokens

['new',
 'delhi',
 'andhra',
 'pradesh',
 'public',
 'service',
 'commission',
 'appsc',
 'release',
 'appsc',
 'group',
 'notification',
 'official',
 'website',
 'december',
 'per',
 'notification',
 'vacancy',
 'fill',
 'examination',
 'interested',
 'eligible',
 'candidate',
 'apply',
 'appsc',
 'group',
 'vacancy',
 'january',
 'january',
 'official',
 'website',
 'ap',
 'psc',
 'conduct',
 'screeningpreliminary',
 'test',
 'may',
 'main',
 'exam',
 'successful',
 'candidate',
 'would',
 'conduct',
 'july',
 'appsc',
 'group',
 'important',
 'date',
 'event',
 'date',
 'opening',
 'date',
 'application',
 'jan',
 'closing',
 'date',
 'application',
 'jan',
 'appsc',
 'group',
 'vacancy',
 'detail',
 'type',
 'carry',
 'forward',
 'executive',
 'post',
 'nonexecutive',
 'post',
 'type',
 'fresh',
 'post',
 'executive',
 'post',
 'nonexecutive',
 'post',
 'total',
 'educational',
 'qualificationgraduation',
 'degree',
 'discipline',
 'recognize',
 'university',
 'institute',
 'age',
 'limit',
 'july',
 'minimum',
 'yearsmaximum',
 'year',
 'feesapplication',
 'fee',
 'rs',
 'examination',
 'fee',
 'rs',
 'examination',
 'fee',
 'candidate',
 'belong',
 'reserved',
 'category',
 'like',
 'sc',
 'st',
 'bc',
 'ph',
 'exservicemen',
 'etc',
 'appsc',
 'conduct',
 'recruitment',
 'drive',
 'fill',
 'vacancy',
 'group',
 'category',
 'group',
 'post',
 'include',
 'asst',
 'commercial',
 'tax',
 'officer',
 'ap',
 'commercial',
 'tax',
 'subordinate',
 'service',
 'deputy',
 'tahsildar',
 'ap',
 'revenue',
 'subordinate',
 'service',
 'senior',
 'auditor',
 'ap',
 'state',
 'audit',
 'subordinate',
 'service',
 'municipal',
 'commissioner',
 'gradeiii',
 'ap',
 'municipal',
 'commissioner',
 'subordinate',
 'service',
 'etc']

In [13]:
df.Count.describe()

count    517498.000000
mean        180.047191
std          80.112442
min          50.000000
25%         109.000000
50%         174.000000
75%         250.000000
max         500.000000
Name: Count, dtype: float64

## Sampling code for generating word embeddings using 'bert-base-uncased' and 'TinyBERT' model

In [14]:
sample = df.head(100)
sample

,target,tokens,Count
0,academic interests,"[new, delhi, andhra, pradesh, public, service,...",151
1,academic interests,"[pune, two, week, new, academic, year, begin, ...",269
2,academic interests,"[guwahati, result, cbse, class, x, exam, annou...",261
3,academic interests,"[admission, iims, say, kapoor, across, iims, s...",56
4,academic interests,"[mangaluru, mangalore, institute, technology, ...",203
...,...,...,...
95,academic interests,"[chennai, many, undergraduate, student, indian...",195
96,academic interests,"[patna, fake, real, report, commencement, biha...",237
97,academic interests,"[bhopal, base, aisect, partnered, national, sk...",210
98,academic interests,"[mumbai, iitbombay, heritage, foundation, anno...",112
99,academic interests,"[thiruvananthapuram, kerala, state, high, seco...",207

In [17]:
model = BertModel.from_pretrained('bert-base-uncased')
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.bias', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [14]:
from transformers import AutoModel, AutoTokenizer

model_name = "prajjwal1/bert-tiny"
tokenizer1 = AutoTokenizer.from_pretrained(model_name)
model1 = AutoModel.from_pretrained(model_name)

Some weights of the model checkpoint at prajjwal1/bert-tiny were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [20]:
def generate_embeddings(token):
    token = ' '.join(token)
    token_ids = tokenizer.encode(token, add_special_tokens=True, max_length=512, return_tensors='pt')
    
    with torch.no_grad():
        outputs = model(token_ids)
        token_embeddings = outputs.last_hidden_state
    
    return token_embeddings.numpy()

In [15]:
def generate_embeddings_tiny(token):
    token = ' '.join(token)
    token_ids = tokenizer1.encode(token, add_special_tokens=True, max_length=500, return_tensors='pt')
    
    with torch.no_grad():
        outputs = model1(token_ids)
        token_embeddings = outputs.last_hidden_state
    
    return token_embeddings.numpy()

### Using 'bert-base-uncased'

In [ ]:
sample['embeddings'] = sample['tokens'].apply(generate_embeddings)

In [23]:
sample.iloc[0].embeddings

array([[[-0.10234293,  0.2681388 ,  0.3079377 , ..., -0.24406022,
          0.22923225,  0.25526968],
        [ 0.24037577, -0.6226484 ,  0.04673899, ...,  0.42858577,
          1.0363635 , -1.3937992 ],
        [-0.41201788,  0.13874632, -0.1011709 , ..., -0.7874209 ,
         -0.54978263, -0.18123682],
        ...,
        [ 0.2418448 ,  0.20564106,  0.17275977, ..., -0.28972432,
          0.02567784, -0.35089576],
        [-0.05552824, -0.5804872 ,  0.36592537, ...,  0.34253207,
         -0.29407305, -0.5665064 ],
        [ 0.8853692 ,  0.23278204,  0.2158145 , ...,  0.5613418 ,
         -0.01800169, -0.00208989]]], dtype=float32)

In [24]:
sample.iloc[0].embeddings.shape

(1, 186, 768)

### Using 'TinyBert'

In [25]:
type(sample.iloc[44].tokens)

list

In [26]:
sample['embeddings1'] = sample['tokens'].apply(generate_embeddings_tiny)
sample

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
C:\Users\asus\AppData\Local\Temp\ipykernel_11596\904850502.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['embeddings1'] = sample['tokens'].apply(generate_embeddings_tiny)

,target,tokens,Count,embeddings,embeddings1
0,academic interests,"[new, delhi, andhra, pradesh, public, service,...",151,"[[[-0.102342926, 0.2681388, 0.3079377, -0.0155...","[[[-0.24230754, 0.6758959, -3.0359886, 0.14046..."
1,academic interests,"[pune, two, week, new, academic, year, begin, ...",269,"[[[0.017289966, 0.053193845, 0.004283134, -0.0...","[[[-0.37797007, 0.33381104, -3.0789416, -0.120..."
2,academic interests,"[guwahati, result, cbse, class, x, exam, annou...",261,"[[[-0.17666939, 0.22534966, 0.16726117, 0.0804...","[[[-0.64431006, 0.20074141, -3.523524, 0.31455..."
3,academic interests,"[admission, iims, say, kapoor, across, iims, s...",56,"[[[-0.47793072, -0.22164372, 0.45299107, -0.04...","[[[-1.1897714, -0.17914984, -4.576548, -0.4710..."
4,academic interests,"[mangaluru, mangalore, institute, technology, ...",203,"[[[-0.39018634, 0.06787005, 0.15971534, 0.1613...","[[[-0.16192678, 0.8034336, -3.237337, 0.577428..."
...,...,...,...,...,...
95,academic interests,"[chennai, many, undergraduate, student, indian...",195,"[[[-0.012010816, 0.10340781, 0.22483017, -0.05...","[[[-0.44404083, -0.23386297, -3.1620395, 0.101..."
96,academic interests,"[patna, fake, real, report, commencement, biha...",237,"[[[-0.114917256, 0.10928891, 0.14564778, 0.062...","[[[-0.54735345, 0.39602095, -3.0180976, 0.1163..."
97,academic interests,"[bhopal, base, aisect, partnered, national, sk...",210,"[[[-0.13440078, 0.23854807, 0.25590187, 0.0512...","[[[0.4377316, 0.90364367, -3.3147984, 0.555523..."
98,academic interests,"[mumbai, iitbombay, heritage, foundation, anno...",112,"[[[-0.05118098, -0.22517866, 0.17694403, -0.03...","[[[0.05541656, 0.7737858, -3.2258377, -0.06067..."
99,academic interests,"[thiruvananthapuram, kerala, state, high, seco...",207,"[[[-0.14194185, -0.11891071, 0.47339374, 0.033...","[[[-0.99853754, -0.043362778, -3.134083, 0.081..."

In [27]:
sample.iloc[0].embeddings1

array([[[-0.24230754,  0.6758959 , -3.0359886 , ..., -2.4825253 ,
         -0.54429233, -0.02109066],
        [ 0.06733874,  0.9371697 , -0.7385615 , ..., -0.9727076 ,
         -2.816767  ,  2.0776396 ],
        [ 0.07239322,  0.36698726, -1.4181027 , ..., -2.691685  ,
         -1.9709718 ,  1.3073338 ],
        ...,
        [ 0.25061396,  1.4571034 , -0.3956341 , ..., -2.6564639 ,
          0.24109644,  0.7127943 ],
        [-1.1011935 ,  0.77729183, -0.3153417 , ..., -3.9850006 ,
         -0.70202434, -0.07632882],
        [-0.04574512,  1.0815307 , -0.03484747, ..., -1.1708034 ,
         -0.554181  ,  0.08455859]]], dtype=float32)

In [28]:
sample.iloc[0].embeddings1.shape

(1, 186, 128)

## Dividing df categories-wise

In [16]:
def category_dataframes(df):
   
    unique_categories = df['target'].unique()
    
    category_dataframes = {}
    
    for category in unique_categories:
        filtered_df = df[df['target'] == category].copy()
        filtered_df.reset_index(drop=True, inplace=True)
        category_dataframes[category] = filtered_df

    return category_dataframes

category_dfs = category_dataframes(df)

## Generating word embeddings using TinyBERT

In [17]:
df['target'].unique()

array(['academic interests', 'arts and culture', 'automotives',
       'books and literature', 'business and finance', 'careers',
       'family and relationships', 'food and drinks', 'health',
       'healthy living', 'hobbies and interests', 'home and garden',
       'movies', 'music and audio', 'news and politics',
       'personal finance', 'pets',
       'pharmaceuticals, conditions, and symptoms', 'real estate',
       'shopping', 'sports', 'style and fashion',
       'technology and computing', 'television', 'travel', 'video gaming'],
      dtype=object)

### Academic Interests

In [21]:
em1 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em1['embeddings'] = category_dfs['academic interests'].tokens.apply(generate_embeddings_tiny)
em1['tokens'] = category_dfs['academic interests'].tokens
em1['target'] = 'academic interests'
em1

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

,tokens,embeddings,target
0,"[new, delhi, andhra, pradesh, public, service,...","[[[-0.24230754, 0.6758959, -3.0359886, 0.14046...",academic interests
1,"[pune, two, week, new, academic, year, begin, ...","[[[-0.37797007, 0.33381104, -3.0789416, -0.120...",academic interests
2,"[guwahati, result, cbse, class, x, exam, annou...","[[[-0.64431006, 0.20074141, -3.523524, 0.31455...",academic interests
3,"[admission, iims, say, kapoor, across, iims, s...","[[[-1.1897714, -0.17914984, -4.576548, -0.4710...",academic interests
4,"[mangaluru, mangalore, institute, technology, ...","[[[-0.16192678, 0.8034336, -3.237337, 0.577428...",academic interests
...,...,...,...
19979,"[odisha, th, result, board, secondary, educati...","[[[-0.7888885, 0.7269752, -3.3675919, -0.01822...",academic interests
19980,"[fund, federal, government, programme, urge, b...","[[[-0.9928848, 0.5346526, -3.8557582, 0.059418...",academic interests
19981,"[pune, student, appear, secondary, school, cer...","[[[-0.8052787, 0.2641247, -3.278021, -0.630721...",academic interests
19982,"[new, delhi, past, two, day, see, surge, onlin...","[[[-0.5997653, 0.19085337, -3.123851, 0.028076...",academic interests
19983,"[telangana, state, public, service, commission...","[[[-0.6419734, 0.79481804, -3.0367298, -0.1388...",academic interests

In [25]:
em1.iloc[0].embeddings

array([[[-0.24230754,  0.6758959 , -3.0359886 , ..., -2.4825253 ,
         -0.54429233, -0.02109066],
        [ 0.06733874,  0.9371697 , -0.7385615 , ..., -0.9727076 ,
         -2.816767  ,  2.0776396 ],
        [ 0.07239322,  0.36698726, -1.4181027 , ..., -2.691685  ,
         -1.9709718 ,  1.3073338 ],
        ...,
        [ 0.25061396,  1.4571034 , -0.3956341 , ..., -2.6564639 ,
          0.24109644,  0.7127943 ],
        [-1.1011935 ,  0.77729183, -0.3153417 , ..., -3.9850006 ,
         -0.70202434, -0.07632882],
        [-0.04574512,  1.0815307 , -0.03484747, ..., -1.1708034 ,
         -0.554181  ,  0.08455859]]], dtype=float32)

In [27]:
em1.to_pickle('em1.pkl')

### Arts and Culture

In [18]:
em2 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em2['embeddings'] = category_dfs['arts and culture'].tokens.apply(generate_embeddings_tiny)
em2['tokens'] = category_dfs['arts and culture'].tokens
em2['target'] = 'arts and culture'
em2

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

,tokens,embeddings,target
0,"[japan, foundation, travel, exhibition, title,...","[[[-0.38452643, 0.16384767, -3.7767115, 0.5209...",arts and culture
1,"[first, come, kolkata, school, believe, city, ...","[[[-0.884976, -1.4084904, -3.1018827, 0.319805...",arts and culture
2,"[filmmaker, vivek, agnihotri, saturday, tell, ...","[[[0.41287118, -1.2298089, -3.017241, 0.024169...",arts and culture
3,"[mangaluru, mangalore, university, award, phd,...","[[[-0.65316397, -0.34860578, -2.9371707, -0.52...",arts and culture
4,"[graphic, novelist, abhijeet, kini, give, read...","[[[-0.32366264, -0.4596825, -2.8497071, 0.1776...",arts and culture
...,...,...,...
19928,"[chandigarh, theme, tribe, india, fourth, edit...","[[[0.03243974, 0.18198806, -2.3291063, 0.39486...",arts and culture
19929,"[pune, air, force, station, afs, lohegaon, dis...","[[[0.42408565, 0.32918972, -3.3979354, 0.32422...",arts and culture
19930,"[filmmaker, mahesh, bhatt, confirm, adult, fil...","[[[0.9870384, -1.0998493, -3.164177, 0.1130499...",arts and culture
19931,"[hour, half, long, wait, gate, finally, open, ...","[[[0.20119381, -0.20482069, -2.6506596, 0.3866...",arts and culture
19932,"[abu, dhabi, cosmopolitan, business, city, get...","[[[0.032289132, -0.65612847, -2.5873742, 0.592...",arts and culture

In [19]:
em2.to_pickle('em2.pkl')

### Automotives

In [20]:
em3 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em3['embeddings'] = category_dfs['automotives'].tokens.apply(generate_embeddings_tiny)
em3['tokens'] = category_dfs['automotives'].tokens
em3['target'] = 'automotives'
em3

,tokens,embeddings,target
0,"[november, pv, sale, november, top, pv, sale, ...","[[[-0.17716253, 0.20208414, -3.1956387, -0.016...",automotives
1,"[visteon, ecarx, jointly, support, lead, inveh...","[[[0.47310433, 0.110844806, -2.8415854, 0.2583...",automotives
2,"[well, ajay, singh, run, state, bank, india, k...","[[[-0.5193571, -0.086186826, -2.7789092, 0.122...",automotives
3,"[live, northeastern, united, state, must, snow...","[[[-0.44394183, 0.5360132, -3.1385753, -0.5656...",automotives
4,"[gefco, would, allow, cma, cgms, logistics, di...","[[[0.094569094, 0.22194265, -3.1545532, 0.1709...",automotives
...,...,...,...
19947,"[technologically, car, come, long, way, past, ...","[[[1.5262285, 0.7559369, -2.8853347, 0.7643656...",automotives
19948,"[ticgard, kepong, professional, window, tint, ...","[[[0.092455335, 1.2149949, -3.5007114, 0.15510...",automotives
19949,"[recent, spike, covid, case, impact, operation...","[[[-0.14789566, 0.14471413, -2.9801266, 0.1397...",automotives
19950,"[auto, market, reel, costofliving, squeeze, br...","[[[0.2312414, 0.5193047, -2.9179926, 0.2620108...",automotives
19951,"[care, beyond, point, mass, actually, cheap, l...","[[[0.14510787, 0.3211545, -3.5805924, 0.071578...",automotives

In [21]:
em3.to_pickle('em3.pkl')

### Books and Literature

In [22]:
em4 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em4['embeddings'] = category_dfs['books and literature'].tokens.apply(generate_embeddings_tiny)
em4['tokens'] = category_dfs['books and literature'].tokens
em4['target'] = 'books and literature'
em4

,tokens,embeddings,target
0,"[second, book, hidden, series, magnificent, fa...","[[[-0.2825428, -0.25936908, -3.079964, -0.1876...",books and literature
1,"[gothgirl, raven, date, dream, boyfriend, comp...","[[[-0.19218545, -1.5018293, -1.7651486, -0.363...",books and literature
2,"[bengaluru, former, bureaucrat, manu, baligar,...","[[[0.024343587, -1.166749, -2.9484146, 0.32971...",books and literature
3,"[volume, put, together, first, time, one, volu...","[[[-0.3353019, -1.6676707, -2.9380536, 0.31712...",books and literature
4,"[director, randhir, ranjan, roycast, shekhar, ...","[[[-0.106702626, -1.2725184, -3.032748, -0.055...",books and literature
...,...,...,...
19555,"[claire, river, race, mailbox, receive, letter...","[[[-0.7836311, -1.1047237, -2.965418, 0.099996...",books and literature
19556,"[nearly, twenty, year, live, california, march...","[[[-1.000156, -0.7927231, -3.6281798, -0.36086...",books and literature
19557,"[j, r, longawaited, novel, william, gaddi, aut...","[[[-0.64479095, -0.47847453, -2.8149726, 0.381...",books and literature
19558,"[john, braines, remarkable, first, novel, room...","[[[-0.40121478, -0.41362193, -3.563855, -0.252...",books and literature
19559,"[thiruvananthapuram, eminent, malayalam, write...","[[[0.38977742, -0.43465108, -2.7940845, 0.0830...",books and literature

In [23]:
em4.to_pickle('em4.pkl')

## Business and Finance

In [26]:
em5 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em5['embeddings'] = category_dfs['business and finance'].tokens.apply(generate_embeddings_tiny)
em5['tokens'] = category_dfs['business and finance'].tokens
em5['target'] = 'business and finance'
em5

,tokens,embeddings,target
0,"[kolkata, state, cabinet, monday, give, approv...","[[[0.0911726, 0.74755377, -3.6008031, 0.271776...",business and finance
1,"[bangalore, microfinance, institution, mfis, f...","[[[0.3205924, 0.3929392, -3.436069, 0.22018968...",business and finance
2,"[new, delhi, three, month, rollout, new, indir...","[[[-0.08207576, 0.53871995, -3.0617993, 0.1523...",business and finance
3,"[new, delhi, apr, concern, recent, case, highi...","[[[-0.4567737, 0.6693551, -3.535691, 0.2574101...",business and finance
4,"[tweens, spend, report, billion, money, year, ...","[[[-0.86273414, 0.30044192, -3.441955, -0.3264...",business and finance
...,...,...,...
19899,"[possible, go, event, learn, attendance, way, ...","[[[-0.7226761, -0.15505208, -3.846671, -0.3285...",business and finance
19900,"[kolkata, niti, aayog, order, detailed, evalua...","[[[-0.64313596, 0.9769468, -3.4688451, 0.20175...",business and finance
19901,"[div, classsectiondiv, classnormalthe, institu...","[[[0.11353982, 1.0613956, -2.9931672, 0.170397...",business and finance
19902,"[keep, lowdenomination, currency, circulation,...","[[[-0.31344014, 0.38000175, -3.1935112, -0.053...",business and finance
19903,"[mumbai, sep, gold, loan, financier, see, rise...","[[[0.03685022, 0.61938345, -3.252787, 0.255715...",business and finance

In [27]:
em5.to_pickle('em5.pkl')

### Careers

In [28]:
em6 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em6['embeddings'] = category_dfs['careers'].tokens.apply(generate_embeddings_tiny)
em6['tokens'] = category_dfs['careers'].tokens
em6['target'] = 'careers'
em6

,tokens,embeddings,target
0,"[job, title, business, administrator, hour, mo...","[[[-1.1585404, -0.00519662, -3.2329836, 0.0706...",careers
1,"[engineer, new, career, lead, blue, chip, expe...","[[[0.04865677, 1.3955913, -3.3475652, 0.491545...",careers
2,"[commis, chef, exclusive, contract, caterer, c...","[[[-0.90891796, 0.40885755, -2.793777, 0.19815...",careers
3,"[research, nurse, full, training, offer, becom...","[[[-0.07078594, 1.3081, -3.0679877, 0.36670458...",careers
4,"[client, client, lead, high, street, restauran...","[[[-0.67467016, 0.8129236, -3.2634115, 0.04475...",careers
...,...,...,...
19766,"[harbour, jones, lead, independent, innovative...","[[[-0.2160252, 0.5863335, -3.2974331, 0.058317...",careers
19767,"[jr, data, scientist, share, find, similar, ca...","[[[-0.16756666, 0.9754682, -3.0515275, 0.56872...",careers
19768,"[client, look, lamp, development, system, engi...","[[[0.3251138, 0.7110735, -2.8631787, 0.2766041...",careers
19769,"[customer, contact, centre, case, officer, lee...","[[[-0.17721274, 0.8589781, -2.951778, 0.510923...",careers
19770,"[work, digital, agency, unique, offering, brin...","[[[-0.19897321, 0.5831546, -2.9702802, 0.15021...",careers

In [29]:
em6.to_pickle('em6.pkl')

### Family and Relationships

In [30]:
em7 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em7['embeddings'] = category_dfs['family and relationships'].tokens.apply(generate_embeddings_tiny)
em7['tokens'] = category_dfs['family and relationships'].tokens
em7['target'] = 'family and relationships'
em7

,tokens,embeddings,target
0,"[kannada, actress, aishwarya, salimath, ready,...","[[[0.304279, -1.0870881, -3.142775, 0.15681927...",family and relationships
1,"[new, delhi, delhi, commission, woman, dcw, mo...","[[[-0.36702198, -0.37194413, -3.2135088, -0.25...",family and relationships
2,"[mumbai, delhi, police, continue, record, stat...","[[[-0.21959215, -0.79908043, -3.2901754, -0.07...",family and relationships
3,"[nagpur, durupyog, play, noga, wasahat, indora...","[[[-0.035072193, -0.6475075, -3.5538352, -0.02...",family and relationships
4,"[chennai, police, find, body, yearold, homemak...","[[[-0.2150374, 0.104187906, -3.212747, -0.1802...",family and relationships
...,...,...,...
19835,"[britain, continue, hold, sign, similar, deala...","[[[-0.084167406, -0.40989447, -3.4159968, 0.22...",family and relationships
19836,"[wendy, will, date, indian, man, learn, tough,...","[[[-0.5072417, -1.0377429, -3.3171778, -0.0409...",family and relationships
19837,"[quite, year, rashmika, mandanna, college, stu...","[[[-0.457272, -1.1840553, -3.3248122, -0.15570...",family and relationships
19838,"[pune, yearold, youth, arrest, thursday, day, ...","[[[-0.9869819, -0.61783266, -3.435388, -0.4391...",family and relationships
19839,"[actor, renuka, shahane, marry, ashutosh, rana...","[[[-0.17193604, -0.8788904, -3.4084992, 0.1775...",family and relationships

In [31]:
em7.to_pickle('em7.pkl')

### Food and Drinks

In [19]:
em8 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em8['embeddings'] = category_dfs['food and drinks'].tokens.apply(generate_embeddings_tiny)
em8['tokens'] = category_dfs['food and drinks'].tokens
em8['target'] = 'food and drinks'
em8

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

,tokens,embeddings,target
0,"[thane, hold, three, acre, fertile, agricultur...","[[[-0.89286274, 0.38927057, -3.8541615, 0.0964...",food and drinks
1,"[pune, doctor, notice, considerable, increase,...","[[[-0.8821945, -0.2555993, -3.8379261, 0.57442...",food and drinks
2,"[final, solution, destitute, home, recovery, h...","[[[-0.19585092, -0.3291104, -4.608773, -0.0515...",food and drinks
3,"[northwestern, turkey, city, canakkale, tragic...","[[[-0.777349, -1.0547625, -3.6468453, -0.02063...",food and drinks
4,"[yearsno, dance, seat, areasno, professional, ...","[[[-0.7180602, 0.8021013, -3.5800729, 0.563734...",food and drinks
...,...,...,...
19920,"[india, kisan, sangarsh, coordination, committ...","[[[0.08656999, 0.116289325, -3.062819, -0.0683...",food and drinks
19921,"[actress, shruti, haasan, last, see, telugu, f...","[[[0.08504137, -1.0277011, -2.6771984, -0.0684...",food and drinks
19922,"[skip, bouquet, petalladen, bubble, bath, put,...","[[[-1.5274739, 0.3091327, -2.775981, 0.1426840...",food and drinks
19923,"[night, march, first, felt, dryness, throat, m...","[[[-1.3973497, -0.61010927, -3.8240838, 0.2246...",food and drinks
19924,"[puducherry, union, territory, police, monday,...","[[[-0.038324855, 0.22431165, -3.3873694, 0.162...",food and drinks

In [20]:
em8.to_pickle('em8.pkl')

### Health

In [21]:
em9 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em9['embeddings'] = category_dfs['health'].tokens.apply(generate_embeddings_tiny)
em9['tokens'] = category_dfs['health'].tokens
em9['target'] = 'health'
em9

,tokens,embeddings,target
0,"[nashik, maharashtra, university, health, scie...","[[[-0.49349752, 0.16173358, -3.4336412, 0.0459...",health
1,"[patna, second, wave, covid, pandemic, proving...","[[[-1.2958199, -1.0256163, -3.810895, -0.15837...",health
2,"[patna, chief, minister, nitish, kumar, thursd...","[[[0.14134955, 0.8486043, -3.368295, -0.004928...",health
3,"[chennai, containment, effort, intensify, acro...","[[[0.08557642, -0.36385408, -3.5297587, 0.1571...",health
4,"[shimla, use, mask, glove, increase, manifold,...","[[[-0.5708977, 0.6764543, -3.6741345, 0.337997...",health
...,...,...,...
19914,"[new, delhi, global, covid, case, surge, due, ...","[[[-0.4846878, -0.02270529, -3.8856761, 0.3714...",health
19915,"[patna, third, phase, nationwide, covid, vacci...","[[[-1.0378103, -0.24870321, -3.9698696, -0.204...",health
19916,"[chandigarh, march, record, almost, sixtime, s...","[[[-0.51937485, -0.18387397, -3.7230113, 0.125...",health
19917,"[four, month, age, group, complete, target, fi...","[[[-0.8412075, 0.7411999, -3.620757, 0.1963848...",health
19918,"[health, risk, child, older, adult, people, he...","[[[-0.7331219, 0.29589027, -3.6596754, 0.57349...",health

In [22]:
em9.to_pickle('em9.pkl')

### Healthy Living

In [24]:
em10 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em10['embeddings'] = category_dfs['healthy living'].tokens.apply(generate_embeddings_tiny)
em10['tokens'] = category_dfs['healthy living'].tokens
em10['target'] = 'healthy living'
em10

,tokens,embeddings,target
0,"[underlie, medical, issue, like, vitamin, defi...","[[[-1.3867143, -0.27297005, -3.760375, 0.00810...",healthy living
1,"[stage, grief, mean, tell, feel, feel, exactly...","[[[-1.1821362, 0.13037188, -4.118121, -0.24336...",healthy living
2,"[youre, among, always, experiment, western, fa...","[[[-1.1084658, -0.47295836, -3.8224232, 0.6352...",healthy living
3,"[lucknow, equate, tobacco, weapon, mass, destr...","[[[-0.79914975, 0.21350126, -3.2756097, 0.3369...",healthy living
4,"[criminal, investigation, underway, six, peopl...","[[[-0.69551885, -0.5339499, -3.260872, 0.13407...",healthy living
...,...,...,...
19852,"[ahmedabad, vinay, oza, call, change, engineer...","[[[-0.9231463, -0.508992, -3.6553776, 0.025694...",healthy living
19853,"[introchances, one, first, place, turn, quick,...","[[[-0.52816385, -0.046133887, -3.2741027, 0.38...",healthy living
19854,"[key, manage, conflict, first, foremost, recog...","[[[-0.606227, -0.9007104, -3.56591, -0.2519776...",healthy living
19855,"[christmas, fever, get, everyone, infect, thus...","[[[-0.5183787, -0.92671597, -2.9370725, 0.0727...",healthy living
19856,"[six, month, ago, decide, take, plunge, get, c...","[[[-1.5021117, 0.19900088, -4.4042153, -0.5075...",healthy living

In [25]:
em10.to_pickle('em10.pkl')

### Hobbies and Interests

In [26]:
em11 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em11['embeddings'] = category_dfs['hobbies and interests'].tokens.apply(generate_embeddings_tiny)
em11['tokens'] = category_dfs['hobbies and interests'].tokens
em11['target'] = 'hobbies and interests'

em11.to_pickle('em11.pkl')
em11

,tokens,embeddings,target
0,"[arent, satoshi, tajiri, japanese, designer, i...","[[[-0.2694938, 0.09765025, -2.8648136, 0.52382...",hobbies and interests
1,"[president, trump, pick, replace, antonin, sca...","[[[-0.6226243, 0.44487563, -3.1528907, 0.22189...",hobbies and interests
2,"[hardly, occasion, software, professional, aru...","[[[-0.47292283, -0.6018179, -3.0143802, -0.159...",hobbies and interests
3,"[program, help, explore, write, workshop, kid,...","[[[-0.16380717, -0.35520393, -2.790352, -0.232...",hobbies and interests
4,"[new, delhi, royal, mail, go, credit, populari...","[[[0.59272075, 0.050216153, -2.1634223, 0.1146...",hobbies and interests
...,...,...,...
19865,"[ayushmann, khurrana, apply, fly, license, you...","[[[-0.77498037, 0.2511254, -3.6647441, -0.2540...",hobbies and interests
19866,"[come, together, many, artist, art, lover, cit...","[[[0.06208185, 0.10280193, -2.8320336, -0.2137...",hobbies and interests
19867,"[tv, industry, know, gruelling, schedule, long...","[[[-0.5232618, -1.2991542, -3.1910439, -0.1434...",hobbies and interests
19868,"[visakhapatnam, newly, year, new, beginning, n...","[[[-0.79463696, -0.19966453, -3.5019412, 0.432...",hobbies and interests
19869,"[singh, claim, pay, monthly, bill, sims, posse...","[[[0.4917924, -0.19129544, -2.9983222, 0.25645...",hobbies and interests

### Home and Garden

In [27]:
em12 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em12['embeddings'] = category_dfs['home and garden'].tokens.apply(generate_embeddings_tiny)
em12['tokens'] = category_dfs['home and garden'].tokens
em12['target'] = 'home and garden'

em12.to_pickle('em12.pkl')
em12

,tokens,embeddings,target
0,"[unsolicited, valentine, day, public, service,...","[[[-0.25100556, -0.45264766, -3.2467463, -0.00...",home and garden
1,"[new, delhi, tailormade, low, bounce, fast, gr...","[[[-0.29474416, -0.524027, -3.1594148, 0.13122...",home and garden
2,"[married, couple, spouse, increase, togetherne...","[[[-0.34036943, -0.39640787, -3.2539332, 0.535...",home and garden
3,"[advice, take, care, farm, yamanappa, benefici...","[[[-0.53721505, 0.66947156, -3.8469877, -0.194...",home and garden
4,"[thousand, goans, tourist, alike, flock, samba...","[[[-0.65053195, -0.42067775, -2.7230961, 0.274...",home and garden
...,...,...,...
19905,"[hyderabad, telangana, rashtra, samithi, trs, ...","[[[0.06893284, 0.25188923, -3.0283227, -0.3183...",home and garden
19906,"[vijaywada, vijayawada, municipal, corporation...","[[[-0.44642287, 0.5116569, -3.6761794, 0.04894...",home and garden
19907,"[th, defeat, season, new, york, pull, point, l...","[[[-0.52231103, -1.1759918, -3.0533473, 0.5295...",home and garden
19908,"[bengaluru, nationwide, lockdown, enforce, res...","[[[-0.86091477, 0.5236266, -3.5441372, 0.22286...",home and garden
19909,"[get, marry, settle, us, say, take, rajgopalan...","[[[-0.40980148, -0.33607054, -3.2426887, -0.17...",home and garden

### Movies

In [17]:
em13 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em13['embeddings'] = category_dfs['movies'].tokens.apply(generate_embeddings_tiny)
em13['tokens'] = category_dfs['movies'].tokens
em13['target'] = 'movies'

em13.to_pickle('em13.pkl')
em13

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

,tokens,embeddings,target
0,"[crew, member, help, make, directorial, debut,...","[[[0.12024946, -0.78567064, -3.5644288, -0.227...",movies
1,"[raven, chooses, orgasm, part, one, fantasy, s...","[[[-0.48352894, -0.8714409, -2.9694452, -0.066...",movies
2,"[kourtney, kardashian, scott, disick, split, a...","[[[-0.7423043, -0.09902109, -3.5733092, -0.453...",movies
3,"[time, problem, fan, noticeable, promotion, pr...","[[[-0.693424, 0.0857078, -3.565634, -0.3289777...",movies
4,"[mammootty, hint, yet, another, blockbuster, t...","[[[0.7594643, -0.7104957, -2.6859756, 0.063971...",movies
...,...,...,...
19959,"[sanya, malhotra, await, release, next, kathal...","[[[0.17818275, -1.2513094, -3.4496045, -0.0817...",movies
19960,"[muchawaited, telugu, film, agent, star, akhil...","[[[0.45222053, -0.9803299, -3.006483, 0.348450...",movies
19961,"[music, composer, rahul, raj, busy, compose, s...","[[[0.3546554, -0.8488461, -2.8696122, -0.22280...",movies
19962,"[anil, sharma, back, sequel, iconic, gadar, ye...","[[[0.3361115, -0.86924994, -3.014597, -0.07367...",movies
19963,"[actor, karthi, last, see, tamil, film, ponniy...","[[[1.341891, -1.0856631, -2.7355123, 0.0883205...",movies

### Music and Audio

In [18]:
em14 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em14['embeddings'] = category_dfs['music and audio'].tokens.apply(generate_embeddings_tiny)
em14['tokens'] = category_dfs['music and audio'].tokens
em14['target'] = 'music and audio'

em14.to_pickle('em14.pkl')
em14

,tokens,embeddings,target
0,"[varanasi, emotional, appeal, jail, mafia, muk...","[[[-0.03909902, -0.5874695, -3.5147207, 0.0942...",music and audio
1,"[audio, c, v, kumars, thirukumaran, entertainm...","[[[0.93789816, -0.6735263, -3.3888333, -0.4636...",music and audio
2,"[first, day, shravan, maas, celebrate, devotee...","[[[-0.28844503, -1.0702789, -3.078549, 0.00616...",music and audio
3,"[music, director, raja, narayan, deb, almost, ...","[[[-0.73338974, -0.29657733, -3.4653869, -0.05...",music and audio
4,"[rapper, frank, oceans, new, album, rumour, ca...","[[[-0.45215964, 0.007470943, -2.9977071, 0.189...",music and audio
...,...,...,...
19930,"[increase, clarity, audio, ensure, sound, guit...","[[[0.3815494, 0.3111288, -2.922948, 0.06217082...",music and audio
19931,"[citroen, set, launch, c, india, market, july,...","[[[1.5777972, 1.0409086, -2.7954128, 0.5960355...",music and audio
19932,"[track, sohne, di, pasand, become, quite, roar...","[[[0.2326642, -1.2423159, -2.9665694, 0.069996...",music and audio
19933,"[state, sue, obama, administration, issue, gui...","[[[-0.7816161, 0.12276439, -3.5088573, -0.2570...",music and audio
19934,"[video, yearold, boy, sing, classical, song, t...","[[[-0.17296173, -1.0805869, -2.8250558, 0.0439...",music and audio

### News and Politics

In [ ]:
em15 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em15['embeddings'] = category_dfs['news and politics'].tokens.apply(generate_embeddings_tiny)
em15['tokens'] = category_dfs['news and politics'].tokens
em15['target'] = 'news and politics'

em15.to_pickle('em15.pkl')
em15

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

### Personal Finance

In [ ]:
em16 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em16['embeddings'] = category_dfs['personal finance'].tokens.apply(generate_embeddings_tiny)
em16['tokens'] = category_dfs['personal finance'].tokens
em16['target'] = 'personal finance'

em16.to_pickle('em16.pkl')
em16

### Pets

In [17]:
em17 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em17['embeddings'] = category_dfs['pets'].tokens.apply(generate_embeddings_tiny)
em17['tokens'] = category_dfs['pets'].tokens
em17['target'] = 'pets'

em17.to_pickle('em17.pkl')
em17

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

,tokens,embeddings,target
0,"[attracts, lot, people, curly, lock, win, smil...","[[[-0.2744318, -0.33584398, -3.4466164, -0.265...",pets
1,"[mumbai, two, covid, year, record, low, noise,...","[[[-0.80307347, -0.14812167, -3.1064172, 0.270...",pets
2,"[london, ever, heard, canine, living, clothes,...","[[[-1.1969322, 0.060595892, -2.9182332, -0.179...",pets
3,"[hyderabad, metro, service, expand, connect, l...","[[[0.10870803, -0.108441055, -3.7882364, 0.024...",pets
4,"[pune, animal, activist, tuesday, accuse, civi...","[[[-1.1544473, 0.13026573, -3.5453913, 0.20309...",pets
...,...,...,...
19925,"[washington, nursing, broken, heart, brain, gi...","[[[-0.671655, -0.5662993, -3.2322612, 0.393521...",pets
19926,"[new, delhi, senior, bjp, leader, yashwant, si...","[[[-0.21502197, -0.4342892, -3.5581975, 0.1884...",pets
19927,"[delhi, zoo, official, decision, put, white, t...","[[[-0.48013178, -0.40289515, -3.0311906, -0.15...",pets
19928,"[new, delhi, staff, selection, commission, ssc...","[[[-0.2622795, 0.20005788, -3.1473475, 0.48421...",pets
19929,"[kolkata, crack, ileague, club, body, open, mo...","[[[-0.9378872, -0.17218721, -3.4694293, 0.0962...",pets

### Pharmaceuticals, Conditions, and Symptoms

In [18]:
em18 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em18['embeddings'] = category_dfs['pharmaceuticals, conditions, and symptoms'].tokens.apply(generate_embeddings_tiny)
em18['tokens'] = category_dfs['pharmaceuticals, conditions, and symptoms'].tokens
em18['target'] = 'pharmaceuticals, conditions, and symptoms'

em18.to_pickle('em18.pkl')
em18

,tokens,embeddings,target
0,"[bsd, rubiscospecific, assembly, chaperone, fo...","[[[0.4339052, 0.1840134, -3.0803385, 0.4916352...","pharmaceuticals, conditions, and symptoms"
1,"[detection, designer, steroid, methylstenbolon...","[[[0.002714157, -0.3356166, -3.3960075, 0.8153...","pharmaceuticals, conditions, and symptoms"
2,"[atrioventricular, conduction, disturbance, ea...","[[[-0.33025017, 0.08743937, -3.6135192, 0.4102...","pharmaceuticals, conditions, and symptoms"
3,"[experience, concern, lesbian, gay, bisexual, ...","[[[-0.21115077, 0.22435912, -2.9130425, 0.5026...","pharmaceuticals, conditions, and symptoms"
4,"[visual, portable, strategy, copperii, detecti...","[[[0.066294156, -0.22710928, -3.2368057, 0.480...","pharmaceuticals, conditions, and symptoms"
...,...,...,...
19995,"[municipal, solid, waste, landfill, obvious, i...","[[[-0.42941058, -0.04120404, -3.2548974, 0.372...","pharmaceuticals, conditions, and symptoms"
19996,"[food, environment, cause, obesity, epidemic, ...","[[[-1.1477932, 0.1254857, -3.1578948, 0.302399...","pharmaceuticals, conditions, and symptoms"
19997,"[cue, use, black, fly, simulium, annulus, attr...","[[[0.15269783, -0.62885165, -3.0934055, 0.0397...","pharmaceuticals, conditions, and symptoms"
19998,"[enantioselective, quenching, roomtemperature,...","[[[-0.3789984, -1.044297, -3.1685283, 0.341058...","pharmaceuticals, conditions, and symptoms"
19999,"[decrease, regional, cerebral, blood, flow, no...","[[[0.37671322, -0.49221924, -3.213992, 0.24433...","pharmaceuticals, conditions, and symptoms"

### Real Estate

In [19]:
em19= pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em19['embeddings'] = category_dfs['real estate'].tokens.apply(generate_embeddings_tiny)
em19['tokens'] = category_dfs['real estate'].tokens
em19['target'] = 'real estate'

em19.to_pickle('em19.pkl')
em19

,tokens,embeddings,target
0,"[every, goan, look, forward, budget, hope, anx...","[[[-0.14088474, 0.90604264, -3.4344857, 0.2458...",real estate
1,"[kanpur, dwarka, indore, pushkar, current, fin...","[[[0.46130678, 0.5565112, -3.2509441, 0.319476...",real estate
2,"[story, originally, appear, jan, mumbai, ajay,...","[[[0.73447603, -0.4446726, -2.9824378, -0.0964...",real estate
3,"[palghar, real, estate, agent, adjoin, thane, ...","[[[-0.050025187, 0.24896339, -3.6244338, -0.34...",real estate
4,"[visakhapatnam, ap, build, construction, worke...","[[[-0.1500141, 1.0880865, -3.7125459, -0.37606...",real estate
...,...,...,...
19899,"[great, noida, real, estate, project, resident...","[[[0.4951115, 0.693795, -3.8600295, 0.38007003...",real estate
19900,"[idbi, bank, make, successful, transformation,...","[[[-0.11541903, 0.7290096, -3.382159, 0.233584...",real estate
19901,"[kolkata, sleuth, probe, trinetra, muddle, try...","[[[0.10376262, 0.46605602, -3.1463823, -0.1181...",real estate
19902,"[jaipur, transition, new, order, regime, usual...","[[[0.09268921, 0.8196367, -3.2968647, 0.079396...",real estate
19903,"[new, delhi, jan, housing, sale, drop, per, ce...","[[[0.04278697, -0.58573806, -3.311496, -0.0147...",real estate

### Shopping

In [17]:
em20= pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em20['embeddings'] = category_dfs['shopping'].tokens.apply(generate_embeddings_tiny)
em20['tokens'] = category_dfs['shopping'].tokens
em20['target'] = 'shopping'

em20.to_pickle('em20.pkl')
em20

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.

,tokens,embeddings,target
0,"[nagpur, grow, discontent, among, shopkeeper, ...","[[[-0.2616686, -0.31717837, -3.7391768, 0.4168...",shopping
1,"[c, provide, easy, way, new, upcoming, store, ...","[[[-0.16900353, 0.56783587, -2.431405, 0.65915...",shopping
2,"[agra, week, daylight, robbery, r, lakh, worth...","[[[0.14632499, -0.026408065, -3.2015102, -0.10...",shopping
3,"[thane, wine, shop, employee, attack, robbed, ...","[[[-0.3083456, 0.580503, -3.067747, -0.3861562...",shopping
4,"[jaipur, police, team, investigate, acid, atta...","[[[-0.050641373, 0.30032533, -3.6919365, -0.04...",shopping
...,...,...,...
19921,"[kolkata, senco, gold, diamond, one, lead, jew...","[[[-0.14701563, 0.62221766, -2.9163213, 0.5378...",shopping
19922,"[new, delhi, delhi, government, tuesday, bid, ...","[[[-0.18179518, -0.10970786, -2.953076, 0.1505...",shopping
19923,"[claw, back, cautious, expansion, cloud, kitch...","[[[-0.33542868, -0.08832374, -3.284313, 0.2069...",shopping
19924,"[begin, hadnt, define, role, well, thing, like...","[[[-0.4348865, -0.011288058, -3.0847151, 0.338...",shopping
19925,"[million, australian, close, half, population,...","[[[-0.89149606, 0.20455207, -3.7661886, -0.164...",shopping

### Sports

In [18]:
em21 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em21['embeddings'] = category_dfs['sports'].tokens.apply(generate_embeddings_tiny)
em21['tokens'] = category_dfs['sports'].tokens
em21['target'] = 'sports'

em21.to_pickle('em21.pkl')
em21

,tokens,embeddings,target
0,"[like, guy, senior, candidate, fall, regular, ...","[[[-1.2214168, -0.6665672, -2.591603, 0.636053...",sports
1,"[chandigarh, city, still, devoid, velodrome, b...","[[[0.044711635, 0.3341138, -3.5448737, 0.26063...",sports
2,"[bagger, sport, team, sport, superstore, bagge...","[[[0.111487724, 1.2707283, -1.8765707, 0.49902...",sports
3,"[birmingham, one, worst, performances, recent,...","[[[-0.68588865, -0.56535804, -2.893442, 0.1722...",sports
4,"[mohali, day, shiromani, akali, dal, sad, lead...","[[[0.65082806, 0.7645988, -3.227178, -0.007076...",sports
...,...,...,...
19942,"[kolkata, former, olympian, sibling, archer, d...","[[[-0.019192204, 0.6518846, -3.791482, 0.14346...",sports
19943,"[margao, brace, subhash, singh, help, pune, fc...","[[[-0.50884914, -0.7743169, -2.9629924, -0.054...",sports
19944,"[opposite, direction, saddle, mark, could, kee...","[[[-0.77383345, -0.7328107, -3.2686257, 0.2386...",sports
19945,"[hyderabad, kvr, hemanth, kumar, bag, allindia...","[[[-0.4301642, -0.49534556, -3.2820365, -0.262...",sports
19946,"[vadodara, national, youth, league, football, ...","[[[-0.50730336, -0.87745935, -2.739925, 0.2083...",sports

### Style and Fashion

In [18]:
em22 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em22['embeddings'] = category_dfs['style and fashion'].tokens.apply(generate_embeddings_tiny)
em22['tokens'] = category_dfs['style and fashion'].tokens
em22['target'] = 'style and fashion'

em22.to_pickle('em22.pkl')
em22

,tokens,embeddings,target
0,"[new, delhi, reliance, brand, part, mukesh, am...","[[[1.1418712, 0.5607771, -3.0414205, 0.4445514...",style and fashion
1,"[heady, cocktail, style, popup, shop, music, m...","[[[-0.35711214, -0.53387845, -2.882807, -0.473...",style and fashion
2,"[day, ago, urfi, javed, got, heat, argument, s...","[[[-0.74995863, -0.32927155, -3.1973088, -0.01...",style and fashion
3,"[bhubaneswar, three, student, national, instit...","[[[-0.48081103, 0.43996307, -3.8694308, -0.097...",style and fashion
4,"[spread, three, day, jury, meet, thetimes, unl...","[[[-0.28595927, -0.28531933, -2.83979, 0.23370...",style and fashion
...,...,...,...
19946,"[amazon, sale, present, excite, opportunity, g...","[[[0.26187396, 0.2943267, -2.282716, 0.4194376...",style and fashion
19947,"[deepika, padukone, sport, black, mermaid, dre...","[[[0.18507218, -0.2549331, -2.7090151, 0.16098...",style and fashion
19948,"[septum, pierce, moment, sun, celebrity, like,...","[[[-0.1945121, -0.30619642, -2.3851593, -0.111...",style and fashion
19949,"[new, delhi, australian, designer, create, sti...","[[[0.26867902, 0.36772954, -2.5051053, 0.27615...",style and fashion
19950,"[prone, continuously, hence, occupational, haz...","[[[-0.38230598, 0.028394084, -3.5366278, 0.042...",style and fashion

### Technology and Computing

In [19]:
em23 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em23['embeddings'] = category_dfs['technology and computing'].tokens.apply(generate_embeddings_tiny)
em23['tokens'] = category_dfs['technology and computing'].tokens
em23['target'] = 'technology and computing'

em23.to_pickle('em23.pkl')
em23

,tokens,embeddings,target
0,"[police, india, symbol, government, visible, s...","[[[0.22332993, 0.6552329, -3.1005552, 0.094203...",technology and computing
1,"[believe, everyone, learn, code, skill, cod, d...","[[[-1.0407336, -0.5918205, -2.4913363, -0.2869...",technology and computing
2,"[br, br, pantaloon, retail, r, attract, buy, i...","[[[0.75906384, -0.090520784, -2.7929275, -0.20...",technology and computing
3,"[also, keep, intact, shallow, back, sit, chair...","[[[-0.54617494, 0.52954286, -2.9020262, 0.1468...",technology and computing
4,"[stockholm, quantum, physic, invisibility, clo...","[[[-0.4427388, -0.8366893, -2.9597554, 0.64090...",technology and computing
...,...,...,...
19859,"[visakhapatnam, artificial, intelligence, mach...","[[[0.34615126, 0.7037862, -3.2001855, 0.428937...",technology and computing
19860,"[kochi, anfil, shajo, thirdyear, student, toc,...","[[[-0.30385295, 0.5034431, -3.8514528, -0.0042...",technology and computing
19861,"[recent, decision, us, appellate, court, refer...","[[[-0.34242538, 0.99992347, -3.1940587, 0.3381...",technology and computing
19862,"[kochi, two, week, edusap, intelligent, studen...","[[[0.0716222, 0.25664034, -3.0896528, 0.556417...",technology and computing
19863,"[bengaluru, yearold, assistant, professor, rep...","[[[0.19213152, 0.25887248, -3.4770446, 0.22653...",technology and computing

### Television

In [20]:
em24 = pd.DataFrame(columns = ['tokens', 'embeddings', 'target'])
em24['embeddings'] = category_dfs['television'].tokens.apply(generate_embeddings_tiny)
em24['tokens'] = category_dfs['television'].tokens
em24['target'] = 'television'

em24.to_pickle('em24.pkl')
em24

,tokens,embeddings,target
0,"[ahmedabad, tv, burn, shortcircuit, cable, con...","[[[1.2417403, 0.12508991, -3.090032, 0.0969250...",television
1,"[mumbai, tv, credit, service, financial, socie...","[[[0.8603846, 0.6418869, -3.0246942, 0.3524107...",television
2,"[google, set, motion, competitor, amazon, blas...","[[[1.2471682, -0.32991382, -1.8462965, 0.36308...",television
3,"[sensation, mollywood, megastar, mammootty, ce...","[[[0.4589956, -1.5233244, -2.651807, -0.047192...",television
4,"[priyanka, naidu, madhubabu, celebrate, seven,...","[[[0.09309777, -1.3201134, -3.6223571, 0.04883...",television
...,...,...,...
19960,"[india, electricity, fluctuation, trip, common...","[[[0.7898882, 0.5650754, -2.8760245, 0.5417888...",television
19961,"[new, delhi, planning, buying, scooter, rs, di...","[[[0.7273347, 1.5811505, -3.0170944, 0.4659032...",television
19962,"[malayalam, tv, long, list, reality, show, boa...","[[[-0.08145107, -1.7926432, -2.5853202, -0.063...",television
19963,"[new, mythological, tv, show, dnyaneshwar, mau...","[[[0.29283282, -1.5512469, -3.119585, -0.05085...",television
19964,"[pune, veteran, stage, film, television, actor...","[[[0.7045674, -1.4877698, -2.8049872, -0.06457...",television