In [1]:
import csv
import xml.etree.ElementTree as ET
import requests
from urllib.parse import urlparse

def extract_hobbies_related_urls(csv_file, output_csv_file):
    hobbies_related_urls = []
    with open(csv_file, 'r') as file:
        reader = csv.DictReader(file)
        for row in reader:
            url = row.get('URL')
            if url:
                response = requests.get(url)
                if response.status_code == 200:
                    xml_content = response.content
                    xml_root = ET.fromstring(xml_content)

                    for loc_element in xml_root.findall(".//{http://www.sitemaps.org/schemas/sitemap/0.9}loc"):
                        loc_url = loc_element.text
                        if "personal-finance" in loc_url.lower():
                          hobbies_related_urls.append(loc_url)

    with open(output_csv_file, 'w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerow(["URL"])
        writer.writerows([[url] for url in hobbies_related_urls])

input_csv_file = "result.csv"
output_csv_file = "personal_finance_urls.csv"
extract_hobbies_related_urls(input_csv_file, output_csv_file)

In [3]:
import pandas as pd
df=pd.read_csv('personal_finance_related_urls.csv')
df

                                                     URL
0      https://economictimes.indiatimes.com/wealth/pe...
1      https://economictimes.indiatimes.com/wealth/pe...
2      https://economictimes.indiatimes.com/wealth/pe...
3      https://economictimes.indiatimes.com/wealth/pe...
4      https://economictimes.indiatimes.com/news/inte...
...                                                  ...
15326  https://economictimes.indiatimes.com/wealth/pe...
15327  https://economictimes.indiatimes.com/wealth/pe...
15328  https://economictimes.indiatimes.com/wealth/pe...
15329  https://economictimes.indiatimes.com/wealth/pe...
15330  https://economictimes.indiatimes.com/wealth/pe...

[15331 rows x 1 columns]

In [4]:
df.drop_duplicates()
df

                                                     URL
0      https://economictimes.indiatimes.com/wealth/pe...
1      https://economictimes.indiatimes.com/wealth/pe...
2      https://economictimes.indiatimes.com/wealth/pe...
3      https://economictimes.indiatimes.com/wealth/pe...
4      https://economictimes.indiatimes.com/news/inte...
...                                                  ...
15326  https://economictimes.indiatimes.com/wealth/pe...
15327  https://economictimes.indiatimes.com/wealth/pe...
15328  https://economictimes.indiatimes.com/wealth/pe...
15329  https://economictimes.indiatimes.com/wealth/pe...
15330  https://economictimes.indiatimes.com/wealth/pe...

[15331 rows x 1 columns]